body {
    background: #f8f8f8 !important;
}

div.genres .checkbox.inline {
    width: 200px;
}

div.genres .checkbox.inline + .checkbox.inline {
    margin-left: 0px;
}

div.screenshots {
    margin-top: 20px;
}

div.screenshots-upload .uploaded-images {
    margin-top: 20px;
}

.hero-unit h1 {
font-family:arial;
}

.game {
    overflow: hidden;
}

.game .screenshot {
    float: left;
}

.game .answers {
    float: left;
    margin-left: 14px;
}

.page-header h3{
    float: left;
    padding-left: 20px;
}
.admin-header .btn{
    background: url(images/button.png) repeat-x;
    border: none;
    border-radius: 5px;
    color: #FFF;
    float: left;
    font: 13px/21px Verdana,sans-serif;
    height: 24px;
    margin: 18px 0 0 18px;
    padding: 0 12px;
}
.admin-header .btn:hover{
    background-position: 0 0;
    opacity: 0.8;
    color: #fff;
}
.nav-tabs > li > a{
    background-image: url(images/bg_li.png);
    background-repeat: repeat-x;
    color: #fff;
    font: 16px Verdana, sans-serif;
}

#mail-grid, .span9{background: #eee;}
.search-form{margin: 15px 0px 15px 0px; padding: 0px;background: #eee}
.search-input{padding: 5px!important;}
.button-column a{margin-left: 7px;}
.pagination{clear: both;}
tr.child-r a.editable{margin-left: 20px}
tr.parent-r a.editable{font-weight: bold;}
.sidebar .first-block{margin-top: 60px}
#message-newsletter{margin-top: 20px;}
.product .block ul.thumbnails li.thumb{clear:none; float: left}
.page-header.admin-header h3{color: #000000; font-size: 24px}
.header-tip{float: left; margin: 20px 0px 0px 20px;}
.answer-tip{margin-left: 20px;}
h3.block-header{color: #808080;font-size: 16px;font-weight: normal;float: left; padding-left: 20px;}
table.user-view th{white-space: normal; width:250px; padding-left: 42px;}
.well.filter-block{margin-right: 15px; padding: 0px;}
.submit-filter{ margin-top: 10px;}
.filter-raw{
    float: left;
    margin-right: 30px;
}
.button-filter-raw{
    margin-right: 0px;
    margin-top: 20px;
}
.filter-raw select{
    height: 25px;
    padding: 2px;/*margin: 2px;*/
}
.filter-form-stat{height: 60px; background: none}
.charts h3{font-size: 14px; margin-left:20px}
.span12 h1, .span12 form.well.form-vertical{
	background-color:#1d5988 !important;
	color:#fff !important;
}
#login-form > button {
	background-image:none !important;
	background-color: #000 !important;
}

.hero-unit {
	background-color:#1d5988 !important;
	background-image:none !important;
}

.hero-unit p {
	color:#FFFFFF !important;
}

.nav-tabs > li > a {
background-image:none !important;
background-color:#1d5988 !important;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
background-color:#eee !important;
color:#1d5988 !important;
}

.page-content th a, .page-content th {
	color:#1d5988 !important;
}

th#catalog-grid_c0, th#catalog-grid_c1, th#catalog-grid_c2 {
background-color:#000 !important;
}

.admin-header .btn {
background-image:none !important;
background-color:#1d5988 !important;
}

.nav-tabs > li { 
margin-bottom: -1px !important;
border-bottom:1px solid transparent !important;
}

.nav-tabs > li.active { 
	border-bottom:1px solid #eee !important;
}

.nav-tabs > li > a:hover { 
border-bottom-color: #eee !important;
}

.logoImg {
	position:relative;
	left: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.navbar .nav > li { 
padding-left: 33px !important;
}

.block.layer label {
color: #000!important;
}

.block.layer span.required {
color: red !important;
}

#login-form  .error {
color:yellow !important;
}

.nav-list > li.child-r a{margin-left: 0px}
.nav-list > li.parent-r a{font-weight: bold;}

