.tab.ie8 {
	border:none;
	background-image:url(../img/radius.png);
	background-position:right -1px;
	background-repeat:no-repeat;
	position:relative;
	left:1px;
}

.tab img.ie8 {
	display:block;
	position:absolute;
	margin:-1px 0 0 -15px;
}

.tabs {
/*	border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	-khtml-border-radius:0 5px 5px 0;
	behavior: url(PIE.htc);
	zoom:1;*/
	border-right:none;
	border-left:none;
}

.tab {
	padding:0 13px;
}

{
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	behavior: url(PIE.htc);
	zoom:1
}
.allNews div.ie8{
	border-bottom:none;
}

.bigDog.dog2 .article a, .bigDog.cat .article a, .bigDog.dog3 .article a, .bigDog.cat2 .article a {
	font-size:14px;
}

.middle.DentaDefense .rightSide .aboutEkanuba.ie8 {
	border-bottom:none;
}

#BirthM .selectedTxt:hover{
	background:url(../images/select5ie8.png);
		background-color:#FFFFFF;
		background-repeat:no-repeat;
}

#BirthM .selectedTxt{
		background:url(../images/select3ie8.png);
		background-color:#FFFFFF;
		background-repeat:no-repeat;
	}














