.list-view .pager {
margin: 5px 0 0 0;
text-align: right;
font-size: 10px;
}


ul.yiiPager
{
	font-size:10px;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{

	padding:1px 3px;
	text-decoration:none;
}

ul.yiiPager .page a
{
	font-weight:normal;
}

ul.yiiPager a:hover
{
	border: solid 1px #ff05a4;
}

ul.yiiPager .selected a
{
	background:#ff05a4;
	color:#FFFFFF;
	font-weight:bold;
}



/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}