div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(../images/rating/delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(../images/star1.png) no-repeat 0 0px}
.lines div.star-rating,.lines  div.star-rating a {
    background-image: url(../images/rating/chik2.png);
    background-repeat: no-repeat;
}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -35px!important}
div.star-rating-hover a{background-position:0 -18px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}

.sortedProducts .product span.rateProduct{
    padding: 5px 0 0 5px;
}
.sortedProducts .product span.star-rating-control a{
    top: inherit;
}
.rating {
    color: #999A9A;
    float: left;
    position: relative;
    width: 100px;
}

.count-rating {
    background: none repeat scroll 0 0 #323232;
    border-radius: 3px 3px 3px 3px;
    color: #F6F6F6;
    display: none;
    font-size: 12px;
    height: 23px;
    left: 0px;
    padding: 10px 10px 0;
    position: absolute;
    top: -33px;
    z-index: 5;
    width: 150px;
}

.count-rating span {
    line-height: 1.4;
    margin: 0 0 11px;
    padding: 0 0 8px;
    text-align: justify;
    width: 413px;
    word-wrap: break-word;
    color: #FF9A35 !important;
}

.count-rating .pointer {
    background: url("../images/rating/count_rating_pointer.png") no-repeat scroll 0 0 transparent;
    height: 3px;
    left: 41px;
    position: absolute;
    top: 33px;
    width: 6px;
}

