
@font-face {
    font-family:'Bliss Cyrillic Bold';
    src: url('../css/font/bliss2h-webfont.eot');
    src: url('../css/font/bliss2h-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/font/bliss2h-webfont.woff') format('woff'),
         url('../css/font/bliss2h-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'Bliss Cyrillic Light';
    src: url('../css/font/bliss2h-webfont.eot');
    src: url('../css/font/bliss2h-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/font/bliss2h-webfont.woff') format('woff'),
         url('../css/font/bliss2h-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 13px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
	background-color:#000;
	min-width: 1024px;
}

a {
	 color: #D80C8C;
	outline: none;
	text-decoration:none;
}
a:hover {
	text-decoration: none;
}
img {
	border: none;
    vertical-align: baseline;
}
input {
	vertical-align: middle;
}
#wrapper {
	width:100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	position: relative;
}

table td {
vertical-align: top;
}

.cities td {
width:30%;
}

div.error {
color: red;
clear: both;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height:131px;
}

.sticker {
	position:absolute;
	margin:35px 0 0 -140px;
}

.socialNetworkOut {
	height:35px;
	background-color:#262626;
	width: 100%;
}

.body-home .socialNetworkIn {
	width: 855px;
	background: #262626;
}

.socialNetworkIn {
	width: 845px;
	margin:0 auto;
	height:35px;
	text-align:right;
}

.top-icons {
margin-top: 7px;
overflow: hidden;
float: right;
}

.top-icons .connect {
margin: 0 0 0 5px ;
height: 18px;
width: 18px;
cursor: pointer;
background: url(../images/vk.png) no-repeat top scroll;
float: left;
}

.top-icons .connect ~ a {
background: url(../images/fb.png) no-repeat top scroll;
}

.top-icons .connect:hover {
background: url(../images/vk.png) no-repeat bottom scroll;
}

.top-icons .connect ~ a:hover {
background: url(../images/fb.png) no-repeat bottom scroll;
}

.top-icons span {
display: block;
float: left;
border: 1px solid #a7045f;
background: #d70c8b url(../images/cart.png) no-repeat 6px top scroll;
height: 16px;
margin-left: 5px;
}


.top-icons span a {
color: #fff;
text-transform: uppercase;
font: 9px verdana;
display: block;
padding: 3px 6px 0 19px;
line-height: 11px;
font-family: "Bliss Cyrillic Bold", "Myriad Pro";
}

.top-icons span:hover a, .top-icons span a:hover {
color: #000;
}
.top-icons span:hover {
background: #d70c8b url(http://eukanuba.i-d-web.com/test/css/../images/cart.png) no-repeat 6px bottom scroll;
}

.body-home .navigation { 
width:855px;
}

.navigation {
	width:845px;
	height:96px;
	margin:0 auto;

}

.searchTop {
float: left;
}

.search {
	height:65px;
}

.search input[type=text] {
	width:160px;
	height:23px;
	line-height:23px;
	padding:0px 10px;
	font-size:10px;
	color:#d80c8c;
	border-top:1px solid #666666;
	border-right:1px solid #b4b4b4;
	border-left:1px solid #4b4b4b;
	border-bottom:none;
	margin:0px;
}

.search input[type=submit] {
	width: 30px;
	height:24px;
	line-height:24px;
	color:#fff;
	background-color:#262626;
	text-align:center;
	font-size:14px;
	border-top:1px solid #0f0f0f;
	border-left:1px solid #161616;
	border-right:1px solid #161616;
	border-bottom:none;
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	margin-left: 7px;
}

.search input[type=submit]:hover {
	color:#ff06a5;
}

.search > div {
    float: right;
    margin: 22px 0px 0px 0px;
}

.search form {
    margin: 0px;
	float: right;

}

.clear {
clear: both;
}

/* .TopMenu {
	height:45px;
}
 */
/* .TopMenu ul {
	height:45px;
	line-height:45px;
} */

.TopMenu ul li {
	display:block;
	width:auto;
	/* text-align:center; */
	padding:2px 5px;
	height:25px;
	position:relative;
	line-height:24px;
	margin-right: 15px;
	margin-left: 15px;
	float:left;
}

.body-home .TopMenu ul li {
margin-right: 17px;
margin-left: 17px;

}

.TopMenu ul li  >a {
	font-family:'Bliss Cyrillic Bold';
	font-size:12px;
	font-weight:bold;
	color:#fff;
	display:block;
	padding:0 10px;
	text-transform:uppercase;
}

 .TopMenu ul  {
	display: table;
	margin: auto;
}

.TopMenu ul li.active > a {
	color:#d40c89;
}

.TopMenu ul li:hover > a{
	color:#d40c89;
}

.TopMenu ul li a.submenu {
font: 12px arial;
color: #000;
text-transform: none;
line-height: 15px;
margin: 7px 0;
display: block;

}

.TopMenu ul li a.submenu:hover {
color: #d40c89;
}

.down {
	height:auto;
	width:100%;
	background-color:#E6E7E7;
	display:none;
	position: relative;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	position: relative;
	padding-right: 30px;
	width: 250px;
}

.close_icon {
position: absolute;
top:10px;
right:10px;

}

.TopMenu ul li:hover .down {
	display:block;
	position:absolute;
	z-index:999;
	margin-left:-5px;
	cursor:pointer;
}

.TopMenu ul li:hover span  a {
line-height: 15px;
color: #000;
vertical-align: top;
display: block;
width: 120px;
float: right;
margin-top:30px;
}

.TopMenu ul li:hover .right_health.dogMenu span  a  {
margin-top:15px;
}

.TopMenu ul li:hover span  a:hover  {
color:#D80C8C;
}
.TopMenu ul li:hover span  p  {
color:#D80C8C;
}
.TopMenu ul li span  p  {
color:#000;
}
.down.aboutus {
width: 250px;
}

.aboutus  .left_health {
width: 70%;
}

.down.pethealth {
width: 650px;
left: -325px;
}

.pethealth .left_health {
height: 265px;
margin-right: 20px;
border-right:1px solid #d4d4d4;
}


.pethealth .right_health {;
width: 30%;
}
.pethealth .right_health.diagram {;
padding-left:20px;border-left: 1px solid #d4d4d4;
height: 265px;
}


.down.professionals {
width: 450px;
left: -296px;
}


.professionals .left_health  {
height: 220px;
margin-right: 20px;
border-right: 1px solid #d4d4d4;
width: 35%;
padding-right: 10px;
}

.professionals .right_healt  {
width: 56%;
padding-left: 5px;
}

.down.puppy_club {
	width: 800px;
	left: -275px;
}

.down.puppy_club ul, .title_puppy_club,.down.puppy_club ul li {
	display: inline-block;
	vertical-align: top;
}
.title_puppy_club {
	width: 120px;
}
.title_puppy_club span {
	text-align: center;
	display: block;
	color:#000;
	font: 15px Bliss Cyrillic bold;
	margin-bottom: 10px;
	margin-top: 35px;
}
.title_puppy_club img {
	display: block;
	margin:auto;
}
.down.puppy_club ul li {
	width: 100px;
	height: 150px;
	margin-left: 1px;
	margin-right: 1px;
	text-align: center;
}
.down.puppy_club ul li div{
	height: 95px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;

}

.down.puppy_club ul li.shopping_list div img {
	width: 71px;
}

.down.puppy_club ul li div.four {
	padding-top: 10px;
}
.down.puppy_club ul li a {
	text-decoration: none;
}
.down.puppy_club ul li p {
	color:#000;
	font-size: 12px!important;
	text-transform: none;
	text-align: center;
	font: 13px/18px Arial, Tahoma, Verdana, sans-serif;
	line-height: 15px;
}
.down.puppy_club ul li:hover p {
	color: #D80C8C;
}


.down.puppy_club ul {
	width: 470px;
	background-image: url(../images/bg_line.png);
	background-repeat:no-repeat;
	background-position: center right;
}

.down.puppy_club .right_menu {
	width: 140px;
	display: inline-block;
	vertical-align: top;
}
.down.puppy_club .right_menu span {
	display: block;
	margin-top: 10px;
	margin-left: 20px;
}
.down.puppy_club .right_menu span img {
	display: inline-block;
	vertical-align: top;
	width: 65px;
}
.down.puppy_club .right_menu span p {
	display: inline-block;
	vertical-align: top;
	width: 50px;
	margin: 0;
	padding:0;
	margin-top: 20px;
	color:#000;
}
.down.puppy_club .right_menu span:hover p {color:#d40c89;}
.down.puppy_club .right_menu span.facebook p {
	margin-top: 30px;
}
.down.puppy_club .right_menu span.money_back_guarantee p {
	margin-top: 10px;
}
.left_health {
		float: left;
		width: 30%;
		}
		
		.right_health {
		float: left;
		width: 53%;
		}
		
		.TopMenu ul li .submenu.point {
		font: 15px Bliss Cyrillic bold;
		margin-bottom:10px;
		}
		
		.submenu.point ~ .submenu {
		margin-left: 15px;
		}
		
		.submenu.point ~ .submenu.point{
		margin-left: 0;
		margin-top: 15px;
		}
		
		.TopMenu ul li a.submenu.smallpoint {
		margin-left: 30px;
		}

.down.products {
width: 800px;
left: -112px;
display: inline-block;
vertical-align: top;
}
	

.products .left_health {	
width: 22%;
border-right: 1px solid #d4d4d4;
padding-left: 30px;
height: 260px;
}

.products   .right_health {
width: 47%;
border-right: 1px solid #d4d4d4;
}

.products .left_health img {
float: left;
width: 48px;
}






.TopMenu .products   a.submenu {
font-size: 13px;
}

.products  span {
width: 185px;
display: inline-block;
vertical-align: top;
}
		

	.TopMenu .menu_top a.submenu.active {
color: #fff;
background: #ff0099;
}

.TopMenu .menu_top a.submenu {
display: inline-block;
text-transform: uppercase;
font: 13px Bliss Cyrillic bold;
line-height: 20px;
padding: 0 5px;
margin-right: 5px;

}


.menu_top {
margin-bottom: 15px;

}

.TopMenu .products a.sub_header {
font: 15px Bliss Cyrillic bold;
display: block;
margin-bottom: 15px;
color: #000;
}

.TopMenu .products .left_health span a {
width: 97px;
float: left;
padding-left: 8px;
}

.categories_part {
float: left;
width: 22%;
padding-left: 25px;
position: relative;
top: -15px;
}

.links {
line-height: 16px;
}

.links a {
color:#000;
font:12px arial;
}

.links a:hover {
color: #D80C8C;
}

.category_header {
color:#000;
font-weight:bold;
margin-top: 15px;
display: block;
}	
		
		
/* Middle
-----------------------------------------------------------------------------*/
.body-home #content {
	width:855px;
	
}

#content {
	width: 845px;
	min-height:100px;
	background-color:#FFFFFF;
	margin:0 auto;
	padding: 0 0 200px;
	position: relative;
}




/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 845px;
	height: 145px;
	background-color:#000000;
	margin: -145px auto 0;
}

.body-home #footer {
	position: relative;
	width: 855px;
	overflow: hidden;
}

#footer ul {
	text-align:center;
	position:relative;
	top:30px;
}

#footer ul li{
	display:inline-block;
	padding:0 19px;
}

#footer ul li a{
	color:#fff;
	font-size:10px;
	overflow:hidden;
}

#footer ul li a:hover{
	color:#d40c89;
}

.copyright {
    color: #eee;
    text-align: center;
    margin-top: 44px;
    font-size: 9px;
}

/*--------------------------------------------select------------------------------*/

#searchTop {
	float:left;
}
#searchTop .newListSelected{
		/* width:140px; */
		float:left;
		margin-right:20px;
		cursor:pointer;
	}
	#searchTop .selectedTxt:hover{
		background:url(../images/selectSearch2.png);
		background-position:95% 55%;
		background-color:#FFFFFF;
		background-repeat:no-repeat;
	}
	#searchTop .selectedTxt{
		width:130px;
		height:23px;
		padding:0 0 0 10px;
		overflow:hidden;
		background:url(../images/selectSearch.png);
		background-position:95% 55%;
		background-color:#FFFFFF;
		background-repeat:no-repeat;
		color:#000;
		font-size:10px;
		line-height:23px;
		zoom:1;
		position:relative;
		z-index:1;
		color:#d80c8c;
		border-top:1px solid #666666;
		border-right:1px solid #b4b4b4;
		border-left:1px solid #4b4b4b;
		border-bottom:none;
	}
	#searchTop .newList{
		list-style:none;
		padding:0;
		width:142px;
		position:absolute;
		z-index:500;
		top:23px;
	}
	#searchTop ul.newList{
		height:210px !important;
		overflow-y:scroll;
		overflow-x:hidden;
		}
	#searchTop .newList li{padding:0;margin:0;}
	#searchTop .newList li a{
		display: block;
		background: #ccc;
		font-size: 10px;
		padding: 5px 6px;
		outline: none;
		overflow: hidden;
		line-height: 20px;
		word-wrap: break-word;
	}
	#searchTop .newList li a:link, #searchTop .newList li a:visited, #searchTop .newList li a:hover{color:#000;text-decoration:none;}
	#searchTop .newList li a.hiLite, #searchTop .newList li a.newListHover{background-color:#999999;}

/*--------------------------------------------Join Newsletter 1.5.1------------------------------*/
.breadcrumbs{
	text-align: center;
	width: 100%;
	height: 35px;
	color: #999999;
	padding-top: 5px;
	line-height: 19px;
	padding-right: 10px;
/*	position: absolute;*/
/*	top: 10px;
	left: 0;
	z-index: 100;*/
}

.breadcrumbs.products_line {
/* margin-left: 235px; */
width: auto;
padding-top: 10px;
height: 29px;
}

.breadcrumbs.products_line + .middle .leftSide {
padding-top: 0;

}

.breadcrumbs a{
    color:#ed008c;
    font-family: "Bliss Cyrillic Bold", "Myriad Pro";
    font-size:10px;
}
.breadcrumbs span{
    font-family:"Bliss Cyrillic Light","Myriad Pro";
    font-size:10px;
}
.breadcrumbs span, .breadcrumbs a{
    padding:0 4px;
}
/*
.pagination {
	text-align:center;
	width:100%;
	height:35px;
	line-height:35px;
}

.pagination a{
	color:#ed008c;
	font-family:"Myriad Pro";
	font-size:10px;
}

.pagination a.thatPage{
	color:#999999;
}

.pagination span{
	color:#999999;
	padding:0 4px;
}
*/

.middle {
	width:100%;
	height:100%;
}


.middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.pages {
margin-top: 45px;
}

.pages.history {
margin-top: 0;

}

.vhsp.pages,.vhsd.pages,.pages.eukanuba_world_challenge{
margin-top: 0;
}

.news, .youInfo {
	float:left;
}

.news {
	width:175px;
	padding-left:45px;
	padding-right:25px;
}

.youInfo {
	width:495px;
	padding:0 70px 0 35px;
}

.allNews div{
	margin-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #dedede;
	font-family:"Bliss Cyrillic Light", "Myriad Pro" !important;
	font-size:11px;
	line-height:14px;
	color:#000;
}

.middle > .DentaDefense.cat .leftSide .allNews div{
	padding-bottom:10px;
}

.allNews div.first {
	padding-bottom:40px;
}

.allNews div h2 {
	font-family:"Bliss Cyrillic Light", "Myriad Pro";
	font-size:24px;
	color:#d80c8c;
	font-weight:400;
	line-height:26px;
	margin-bottom:5px;
}

.allNews div:last-child{
	border:none;
}

.allNews .ie8 {
border: none;
}



.news a.FindMore {
	height:22px;
	line-height:22px;
	padding:5px;
	background-color:#d80c8c;
	text-align:center;
	color:#fff;
	text-transform: uppercase;
	font:11px "Bliss Cyrillic Light", "Myriad Pro";
	
}

.news a.FindMore:hover {
	color:#000;
}

.left1 {
	position:relative;
	left:-7px;
}

.youInfo p {
	font-size:11px;
	line-height:14px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:20px;
	text-shadow: 0px 0px 1px #ccc;
}

.youInfo form {
	margin-top:50px;
	padding-bottom:80px;
	/* border-bottom:2px solid #dedede; */
}

.youInfo form:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.youInfo form h2 {
	font-family:"Bliss Cyrillic Light", "Myriad Pro";
	font-size:24px;
	color:#d80c8c;
	font-weight:400;
	line-height:26px;
	margin-bottom:5px;
}

.textPOsition {
	width:230px;
	/* height:38px; */
	float:left;
	margin-top:15px;
}

.textPOsition.one {
	margin-right:23px;
}

.textPOsition label, .question_label  label {
	color:#484a52;
	font-size:11px;
	font-weight:bold;
	text-shadow:1px 1px 1px #ccc;
 }
.question_label  label {
 display: block;
 margin-right: 10px;
}

.label_container i {
position: relative;
top: -20px;
right: 10px;
}


.textPOsition span span {
	color:#07a718;
	font-size:11px;
}


.textPOsition input[type=text],.question_field  input[type=text]{
	width:228px;
	height:15px;
	border:1px solid #dedede;
}

.question_field  input[type=text], .question_field  textarea{
width:200px;
border:1px solid #dedede;
}
.question_field  textarea{
height: 150px;
}


.youInfo form .line {
	height:1px;
	width:100%;
	background-color:#cbcbcb;
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;
	clear: both;
	position:relative;
	top:25px;
	margin-bottom:25px;
}

.emailMe {
	margin-top:55px;
	padding:0 5px;
}

.emailMe p{
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#ff05a4;
	font-weight:bold;
	margin-bottom:13px;
	text-shadow:none;
	letter-spacing:0;
}

.checkMail, .aboutCheck {
	float:left;
}


.aboutCheck {
	font-size:11px;
	line-height: 13px;	
	font-family:Arial, Helvetica, sans-serif;
	word-spacing: 6px;
}

.pane  ul.sub-tabs{
list-style-type: none;
margin-left:0;

}

.emailMe:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.checkMail input[type=checkbox] {
	cursor:pointer;
	position:absolute;
	margin-top:2px;
}

.checkMail label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13px;

	display:block;
	margin-left:17px;
	margin-bottom:13px;
	position:relative;
	top:2px;
}

.checkMail {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	line-height:12px;}

.verify {
margin-top: 30px;
}

.verify  > * {
vertical-align: top;
}

.verify  label{
/* vertical-align: top;
display: inline-block;
margin-top: 35px; */
}

.verify  img{
margin-top: -10px;
}

h3.heading {
border-bottom: 1px solid #D4D4D4;
font-family: "Bliss Cyrillic bold", "Myriad Pro";
font-size: 18px;

}

.sitemap {
padding-top: 45px;overflow: hidden;
}

.sitemap a:hover{
color:#000;
}


.map  h3.heading {
font-size: 14px;
margin: 20px 0 10px 0;
padding-bottom: 4px;
color:#000;
}

ul.sitemaptop li {
width: 137px;
float: left;
padding: 1px 0 0 0;
}

.Sitemap-left {
width: 300px;
float: left;
}
.Sitemap-right {
width: 242px;
float: left;
margin-left: 10px;
}

.Sitemap-left h3, .Sitemap-right h3 {
color: #d80c8c;
font-weight: bold;
margin-top: 10px;
font-size: 14px;
margin-bottom: 0;
}

.Sitemap-left ul, .Sitemap-right ul {
margin-left: 20px;
}

#contact {
padding: 10px 0 15px 15px;
}
#Expert_pet_type label {
vertical-align: middle;
}
.question_label {
width: 40%;
float: left;
text-align: right;
}

.question_field {
float: left;
width: 60%;
}

.form_question {
margin-top: 10px;
}

#Expert_verifyCode {
height: 15px;
border: 1px solid #dedede;
}

#State .newListSelected, .state .newListSelected{
		width:204px;
		float:left;
		margin-right:20px;
	}
	#State .selectedTxt:hover, .state .selectedTxt:hover{
	background:url(../images/select2.png);
		background-color:#FFFFFF;
		background-repeat:no-repeat;
		outline:none;
	}
	#State .selectedTxt, .state .selectedTxt{
		width:194px;
		height:20px;
		padding:0 0 0 10px;
		overflow:hidden;
		background:url(../images/select1.png);
		background-color:#FFFFFF;
		background-repeat:no-repeat;
		color:#787598;
		font-size:11px;
		line-height:20px;
		zoom:1;
		position:relative;
		z-index:1;
		color:#6d6b72;
		font-weight:bold;
	}
	#State .newList, .state .newList{
		list-style:none;
		padding:0;
		width:204px;
		position:absolute;
		z-index:500;
		top:23px;
	}
	#State ul.newList, .state ul.newList{
		height:210px !important;
		overflow-y:scroll;
		overflow-x:hidden;
		}
	#State .newList li, .state .newList li{padding:0;margin:0;}
	#State .newList li a, .state .newList li a{
		display:block;
		background:#ccc;
		font-size:10px;
		padding:0 6px;
		outline:none;
		height:23px;
		overflow:hidden;
		line-height:23px;
	}
	#State .newList li a:link, #State .newList li a:visited, #State .newList li a:hover, .state .newList li a:link, .state .newList li a:visited, .state .newList li a:hover{color:#000;text-decoration:none;}
	#BirthDate .newList li a.hiLite, #State .newList li a.newListHover{background-color:#999999;}

#BirthM .newListSelected{
		width:65px;
		float:left;
		margin-right:3px;
	}
	#BirthM .selectedTxt{
		width:65px;
		height:20px;
		padding:0 0 0 5px;
		overflow:hidden;
		background:url(../images/select3.png);
		background-color:#FFFFFF;
		background-repeat:no-repeat;
		background-size:65px 20px;
		color:#787598;
		font-size:11px;
		line-height:20px;
		zoom:1;
		position:relative;
		z-index:1;
		color:#6d6b72;
		font-weight:bold;
	}
	#BirthM .selectedTxt:hover{
	background:url(../images/select5.png);
		background-color:#FFFFFF;
		background-repeat:no-repeat;
		outline:none;
		background-size:65px 20px;
	}
	#BirthM .newList{
		list-style:none;
		padding:0;
		width:65px;
		position:absolute;
		z-index:500;
		top:23px;
	}
	#BirthM ul.newList{
		height:210px !important;
		overflow-y:scroll;
		overflow-x:hidden;
		}
	#BirthM .newList li{padding:0;margin:0;}
	#BirthM .newList li a{
		display:block;
		background:#ccc;
		font-size:10px;
		padding:0 6px;
		outline:none;
		height:23px;
		overflow:hidden;
		line-height:23px;
	}
	#BirthM .newList li a:link, #BirthM .newList li a:visited, #BirthM .newList li a:hover{color:#000;text-decoration:none;}
	#BirthM .newList li a.hiLite, #BirthM .newList li a.newListHover{background-color:#999999;}
	
	
	
	
#BirthY .newListSelected{
		width:50px;
		float:left;
		margin-right:3px;
	}
	#BirthY .selectedTxt{
		width:49px;
		height:20px;
		padding:0 0 0 9px;
		overflow:hidden;
		background:url(../images/select3.png);
		background-color:#FFFFFF;
		background-repeat:no-repeat;
		color:#787598;
		font-size:11px;
		line-height:20px;
		zoom:1;
		position:relative;
		z-index:1;
		color:#6d6b72;
		font-weight:bold;
	}
	#BirthY .selectedTxt:hover{
	background:url(../images/select5.png);
		background-color:#FFFFFF;
		background-repeat:no-repeat;
		outline:none;
	}
	#BirthY .newList{
		list-style:none;
		padding:0;
		width:50px;
		position:absolute;
		z-index:500;
		top:23px;

	}
		#BirthY ul.newList{
		height:210px !important;
		overflow-y:scroll;
		overflow-x:hidden;
		}
	#BirthY .newList li{padding:0;margin:0;}
	#BirthY .newList li a{
		display:block;
		background:#ccc;
		font-size:10px;
		padding:0 6px;
		outline:none;
		height:23px;
		overflow:hidden;
		line-height:23px;
	}
	#BirthY .newList li a:link, #BirthY .newList li a:visited, #BirthY .newList li a:hover{color:#000;text-decoration:none;}
	#BirthY .newList li a.hiLite, #BirthY .newList li a.newListHover{background-color:#999999;}

/*--------------------------------------------END of Join Newsletter 1.5.1------------------------------*/
/*--------------------------------------------Euk_VetArticleRENAL_10.2.html------------------------------*/


.middle .food, .middle .AboutFood {
	float:left;
}

.middle .food {
	width:244px;
}

.middle .AboutFood {
	width:510px;
	padding-right:25px;
	position:relative;
	left:-2px;
}

.middle .food img {
	margin: 37px auto 10px;
	display:block;
}

.middle .food ul.firstUl {
margin-left: 50px;
}

.firstUl .related ul li a {
color: #000;
}

.firstUl .related ul li a:hover {
color: #ed008c;
}

.middle .food ul.firstUl > li > a {
color: #000;
font-weight: bold;
display: block;
margin-bottom: 20px;
font-size: 11px;
}

.shortInfo {
	width:535px;
	margin-top:32px;
}

.shortInfo:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.leftSide, .rightSide {
	float:left;
}

.shortInfo .leftSide {
	width:200px;
	margin-right:30px;
}

.shortInfo .rightSide {
	width:280px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#444;
	line-height:19px;
	font-weight:700;
}

.shortInfo .rightSide h2{
	color:#f6891f;
	margin-bottom:15px;
	margin-top:10px;
}

.veterenary {
	margin:0 0 20px 0 !important;
}

.renalCond, .liverCond {
	width:186px;
	height:24px;
	margin-top:2px;
	text-align:center;
	color:#fff;
	line-height:24px;
}

.renalCond {
	background-color:#f6891f;
	font-size:12px;
}

.liverCond {
	background-color:#faa95f;
	font-size:9px;
}

.shortInfo .leftSide img {
	margin:13px 0;
}

.advantage {
	width:186px;
	outline:1px solid #fde1c7;
	border:1px solid #fac48f;
}

.advantage ul {
	padding:4px 0;
}

.advantage ul li {
	list-style:none;
	line-height:10px;
	font-size:10px;
	margin:3px 0;
	width:100%;
	text-align:center;
	color:#757880;
}

.AboutFood h2 {
	color:#f6891f;
	margin:30px 0 10px;
	line-height: 25px;
}
 .staticwrap .AboutFood ul {
margin-left: 0px;
}
 
.AboutFood ul.bonus {
	margin-left:15px;
}

.AboutFood ul.bonus li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:19px;
}

.AboutFood table {
	display:inline-block;
	width:249px;
	margin:0 2px;
}

.AboutFood table.leftTable tr td {
	height:13px;
	width:125px;
	border-right:1px solid #fde2c7;
	color:#86878c;
	font-size:10px;
}

.AboutFood table.rightTable tr td {
	height:13px;
	width:125px;
	border-right:1px solid #fde2c7;
	border-left:1px solid #fde2c7;
	color:#86878c;
	font-size:10px;
}

.AboutFood table tr.firsttTr {
	height:24px;
}

.AboutFood table tr.ntlOne {
	background-color:#fff;
}

.AboutFood table tr.ntlTwo {
	background-color:#feefdd;
}

.AboutFood table tr td:last-child {
	text-align:center;
}

.AboutFood .line {
	height:1px;
	width:100%;
	background-color:#cbcbcb;
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;
	clear: both;
	position:relative;
	margin-top:25px;
	margin-bottom:25px;
}

.AboutFood p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:19px;
	margin-bottom:20px;
}

.AboutFood span.nameProduct {
	margin:5px 0;
	display:block;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	line-height:19px;
	font-weight:700;
}

.AboutFood span.postText {
	margin-top:40px;
	font-size:10px;
	display:block;
}

.AboutFood table.leftTableTwo {
	width:200px;
}

.AboutFood table.leftTableTwo tr td {
	height:13px;
	width:100px;
	border-right:1px solid #fde2c7;
	color:#86878c;
	font-size:10px;
	text-align:center;
}

.AboutFood table.leftTableTwo thead tr td{
	background-color:#f6891f;
	padding-left:5px;
	color:#fff;
	font-size:11px;
	border-right:1px solid #f6891f;
}

.AboutFood table.rightTableTwo {
	width:297px;
}

.AboutFood table.rightTableTwo tr td {
	height:13px;
	width:99px;
	border-right:1px solid #fde2c7;
	border-left:1px solid #fde2c7;
	color:#86878c;
	font-size:10px;
	text-align:center;
}

.AboutFood table.rightTableTwo thead tr td{
	background-color:#f6891f;
	padding-left:5px;
	color:#fff;
	font-size:11px;
	border-right:1px solid #f6891f;
	border-left:1px solid #f6891f;
}

small {
	font-size:8px;
}

/*--------------------------------------------END of Professionals Landing page 1.4------------------------------*/
/*--------------------------------------------7 page------------------------------*/
.AboutFood .shortInfo .rightSide h2 {
margin-top:0 !important;
}
.AboutFood.green .shortInfo .rightSide h2, .AboutFood.green h2 {
color:#005030;
}

.renalCond.green {
	background-color:#005030;
}

.liverCond.green {
	background-color:#17765b;
}

.advantage.green {
	outline:1px solid #bfd3cb;
	border:1px solid #407c64;
}

.AboutFood.yellow_brown .shortInfo .rightSide h2, .AboutFood.yellow_brown h2 {
color:#eeb60f;
}

.renalCond.yellow_brown{
	background-color:#eeb60f;
}

.liverCond.yellow_brown{
	background-color:#604d27;
}

.advantage.yellow_brown{
	outline:1px solid #eeb60f;
	border:1px solid #eeb60f;
}

.AboutFood.red .shortInfo .rightSide h2, .AboutFood.red h2 {
color:#bf2732;
}

.renalCond.red {
	background-color:#bf2732;
}

.liverCond.red {
	background-color:#cf6c5b;
}

.advantage.red {
	outline:1px solid #eec5c8;
	border:1px solid #e6aaaf;
}

img.red {	
	position:relative;
/* 	left: -10px; */
}

.AboutFood.purple .shortInfo .rightSide h2, .AboutFood.purple h2 {
color:#483680;
}

.renalCond.purple {
	background-color:#483680;
	font-size:11px;
}

.liverCond.purple {
	background-color:#75649a;
}

.advantage.purple {
	outline:1px solid #d1cddf;
	border:1px solid #a39abf;
}

img.purple{	
	position:relative;
	left:-25px;
}

.AboutFood.turquoise .shortInfo .rightSide h2, .AboutFood.turquoise h2 {
color:#00a6c5;
}

.renalCond.turquoise {
	background-color:#00a6c5;
}

.liverCond.turquoise {
	background-color:#29bbd3;
}

.advantage.turquoise {
	outline:1px solid #bfe9f1;
	border:1px solid #7fd2e2;
}

img.turquoise{	
	position:relative;
	left:-25px;
}

.AboutFood.vinous .shortInfo .rightSide h2, .AboutFood.vinous h2 {
color:#820b58;
}

.renalCond.vinous {
	background-color:#820b58;
}

.liverCond.vinous {
	background-color:#9f567c;
}

.advantage.vinous {
	outline:1px solid #e0c2d5;
	border:1px solid #c085ab;
}

img.vinous{	
	position:relative;
	left:-25px;
}

/*--------------------------------------------END of 7 page------------------------------*/

/*--------------------------------------------END of Euk_VetArticleRENAL_10.2.html------------------------------*/
/*--------------------------------------------Nutritional Information Cats 1.2.1.2a-g.html------------------------------*/
.middle.product .leftSide {
	width:250px;
	padding-top:30px;
	padding-left:30px;
}

.middle.product .rightSide {
	width:505px;
	padding-right:60px;
}

.middle.product .leftSide a{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#ff0099;
	display:block;
	width:150px;
	margin-left:30px;
}

.nameOfFood {
	margin-top:98px;
	line-height:22px;
	font-size:22px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	border-bottom:1px solid #e5e5e5;
}

.nameOfFood + .rate {
font-size: 11px;
line-height: 15px;
}

.nameOfFood span{
	font-size:11px;
	position:relative;
	line-height: normal;
	margin-bottom: 5px;
	display: inline-block;
/* 	top:-7px; */
}

.nameOfFood a img{
	position:relative;
	top:-3px;
	left:4px;
}

.rate .leftSide1, .rate .rightSide1 {
	float:left;
}

.rate .leftSide1 {
	width: 304px;
	margin-top:13px;
}

.rate .rightSide1 {
	width: 195px;
	margin-top: 10px;
	text-transform: uppercase;
	text-align: right;
}

.rate:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.rate .leftSide1 .rating a img{
	margin-right:4px;
}

.rate .leftSide1 .rating span {
	margin-left:4px;
}

.rate .leftSide1 .moreAboutRating {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#ff0099;
}

.rate .leftSide1 .moreAboutRating a {
	color:#ff0099;
}

.rate .leftSide1 .moreAboutRating a:hover {
	color:#000;
}

.rate .rightSide1 .buy, .rate .rightSide1 .store {
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size:13px;
	font-weight:bold;
	color:#fff;
	padding:3px 9px;
	position:relative;
	top:7px;
	/* left:15px; */
	margin:0 3px;
}

.rate .rightSide1 .buy:hover, .rate .rightSide1 .store:hover {
	color:#d40c89;
}

.rate .rightSide1 .buy {
	/* background-color:#666666; */
	background-color: #4a4949;
	font-size: 11px;
	line-height: 22px;
	display: inline-block;
	padding: 0 11px;
	}

.rate .rightSide1 .store {
	background-color:#999999;
}

ol, ul {
    list-style: none outside none;
}

ul.tabs:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

ul.tabs {
	margin-top:20px;
	border: 1px solid #e2e2e2;
	display: inline-block;
	border-radius: 3px;
	-webkit-box-shadow: #e2e2e2 0px -1px 3px;
-moz-box-shadow: #e2e2e2 0px -1px 3px;
box-shadow: #e2e2e2 0px -1px 3px;
}


ul.tabs li {
    float: left;
    height: 33px;
}

ul.tabs li a {
    
    display: block;
    height: 100%;
    overflow: hidden;
	padding: 0 13px;
	line-height: 33px;
	border-right: 1px solid #e2e2e2;
	color: #000;
	text-transform: uppercase;
	font-size: 12px;
    /* padding: 0 !important; */
   /*  text-indent: -999px; */
} 


ul.tabs li a[href="#description"] {
background: none;
}

ul.tabs li a[href="#description"]:hover, ul.tabs li a[href="#description"].active {
background: url("../images//activeTab.png") repeat-x scroll 0 0 transparent !important;
}

ul.tabs li a[href="#nutritional"] {
background: none;;
}

ul.tabs li a[href="#nutritional"]:hover, ul.tabs li a[href="#nutritional"].active {
background: url("../images//activeTab.png") repeat-x scroll 0 0 transparent !important;}


ul.tabs li a[href="#reviews"] {
background: none;

}
ul.tabs li a[href="#reviews"]:hover, ul.tabs li a[href="#reviews"].active {
background: url("../images//activeTab.png") repeat-x scroll 0 0 transparent !important;}


.sub-tabs {
    margin: 0 0 15px;
}
.sub-tabs li {
    float: left;
    font-size: 0.85em;
    font-weight: bold;
    margin-right: 13px;
	height: 26px;
}
.sub-tabs li a {
    background: url("../images/subtabbg.gif") no-repeat scroll right 2px transparent;
    color: #666666;
    display: inline-block;
    height: 26px;
    line-height: 26px;
}

/* Safari only */
.sub-tabs li a :not(:root:root) { 
	padding: 4px 0;
} 
.sub-tabs li a span {
background: url("../images/subtableft.gif") no-repeat scroll 0 2px transparent;
padding: 0 7px;
height: 26px;
line-height: 27px;
display: inline-block
}
@-moz-document url-prefix() {
.sub-tabs li a span {
   /*  padding: 7px; */
	 height: 26px;
    line-height: 27px;
}
}
.sub-tabs li a:hover, .sub-tabs li a.active {
    background: url("../images/subtabbg_over.gif") no-repeat scroll right 2px transparent;
    border-bottom: medium none;
    color: #666666;
}
.sub-tabs li a:hover span, .sub-tabs li a.active span {
    background: url("../images/subtableft_over.gif") no-repeat scroll 0 2px transparent;
}
.sub-tabs li a.subTab1 {
    background: url("http://www.iams.co.uk/en_uk/data_root/_images/global/write_review_tabbg.gif") no-repeat scroll right 3px transparent;
    color: #666666;
    display: inline-block;
    padding: 6px 25px 6px 0;
}
.sub-tabs li a.subTab1 span {
    background: url("../images/subtableft.gif") no-repeat scroll 0 0 transparent;
    padding: 6px 7px;
}
.sub-tabs li a.subTab1:hover {
    background: url("../images/write_review_tabbg_over.gif") no-repeat scroll right 3px transparent;
}
.sub-tabs li a.subTab1:hover span {
    background: url("../images/subtableft_over.gif") no-repeat scroll 0 0 transparent;
}

.pane {
    /* background: url("../images/tab_bg1.gif") repeat-x scroll left top transparent; */
    padding-top: 15px;
}

.pane ul {
list-style-type: disc;
margin-top: 5px;
margin-left: 18px;
}

/* #nutritional .pane, #reviews .pane {
    padding: 18px 0 15px 15px;
} */
#nutritional .sub-tabs {
    margin: 0 0 15px;
    overflow: hidden;
}
#nutritional .sub-tab table {
    width: 85%;
}
#tab_ingredients tr:first-child td {
    border: medium none;
	width: 80%;
}
#nutritional .sub-tab td, #nutritional .sub-tab th {
    border-bottom: 1px solid #D3D3D3;
    font-size: 13px;
    margin: 0;
    padding: 3px;
}
#nutritional .sub-tab th {
    font-weight: bold;
    width: 50%;
}

.rightSide .description {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
	margin-top:15px;
	line-height:14px;
}

.tab {
    float:left;
    line-height:33px;
    height:33px;
    border-right:1px solid #e2e2e2;
    padding:0 13px;
}

.tab:last-child {
    border:none;
}
.tab img.ie8 {
    display:none;
}



#reviews .sub-tabs {
overflow:hidden;
}

#reviews p, #reviews{
color:#666666;
}


#reviews strong {
color:#000;
}

.date-rev {
color: #999;
font-style: italic;
line-height: 30px;
}

#reviews  small {
font-size: 11px;
line-height: 30px;
}

#reviews  .quest {
display: inline-block;
border: 1px solid #999;
border-radius: 6px;
padding: 0 5px;
font-size: 11px;
line-height: 14px;
margin: 0 4px;
}

#reviews a:hover {
color:#000;
}

#reviews label {
display: block;
color: #000;
font-style: normal;
margin-bottom: 3px;
} 

#write-review .user_rate {
font-style: italic;
}
.email, .text {
margin-bottom: 10px;
}

#reviews #text {
width: 270px;
height: 100px;
}

.send_review {
clear: both;
}

.send_review, .send_review +div {
float: left;
width: 100px;
}

.send_review input,.send_review +div a {
padding: 2px 10px 3px;
background-color: #d80c8c;
text-align: center;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: none;
cursor: pointer;
color: #fff;
}

.send_review input:hover {
color: #000;
}

.send_review +div a {
line-height: 20px;

}








.user_rate{
float: left; 
margin-right: 30px;
margin-bottom: 15px;
width: 50%;

}

.user_rate > span {
float: right;
}


.user_review {
overflow:hidden;
}

.user_name {
float: left;
width: 160px;
}

.user_name + div {
float: left;
width: 60%;
}






/*--------------------------------------------END of Nutritional Information Cats 1.2.1.2a-g.html------------------------------*/
/*--------------------------------------------Opus 2.0 1.0.10.html------------------------------*/

.bigDog {
	background-image:url(../images/bigDog.png);
	background-position:center;
	background-repeat:no-repeat;
	min-height:287px;
	position:relative;
	top:-20px;
	margin-bottom:20px;
}

.bigDog h1{
	font-family:"Bliss Cyrillic Light", "Myriad Pro";
	font-size:45px;
	line-height:45px;
	color:#ff05a4;
	font-weight:400;
	letter-spacing:2px;
	text-align:left;
	position:relative;
	top:120px;
	padding-left:310px;
}

.middle.DentaDefense .leftSide {
	width:175px;
	padding-left:30px;
	padding-right:115px;
}

.middle.DentaDefense .leftSide.sideBox {
padding-left: 50px;
padding-right: 70px;
}

.middle.DentaDefense .leftSide.sideBox  + .rightSide{
padding-right: 75px;
}


.middle.DentaDefense .rightSide {
	width:475px;
	padding-right:50px;
}

.leftSide a.LearnMore {
	height:22px;
	line-height:24px;
	padding:0px 6px;
	background-color:#d80c8c;
	text-align:center;
	color:#fff;
	font-size:11px;
	display:inline-block;
	font-family:Bliss Cyrillic Bold, Helvetica, sans-serif !important;
	margin-top:18px;
}

.more {
color: #d80c8c;
font: bold 11px arial,'Myriad Pro', sans-serif;
text-transform: uppercase;
line-height: 34px;
}

.more:hover {
color: #000;
}

.redactor-current-td {
width: 247px;
}

.leftSide a.LearnMore:hover {
	color:#000;
}
.leftSide a.LearnMore.miniGrey:hover {
	color:#d40c89;
}

.leftSide.black a.LearnMore:hover {
	color:#d40c89;
}

.opus .zubi {
	background-image:url(../images/zubi.png);
	background-position:95% 70%;
	background-repeat:no-repeat;
	min-height:223px;
}

.opus .zubi .pOne {
	font-size:32px;
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	color:#000;
	line-height:38px;
	font-weight:400;
}

.opus .zubi .pOne span{
	font-size:18px;
}

.opus .zubi .pTwo {
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size:23px;
	color:#000;
	line-height:24px;
	margin-top:90px;
	font-weight:bold;
}

.opus .bigDog h1 {
padding-left: 310px;
left: -28px;
text-shadow: #b6b6b6 3px 0px 3px;
font-size: 34px;
top: 83px;
}
.opus .leftBanners{
    margin-top: 20px;
}

.exclusive {
	margin-top:26px;
	font-weight:bold;
}

.exclusive img {
	float:left;
}

.exclusive p {
	color:#d80c8c;
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size:23px;
	margin-bottom: 10px;
	font-weight:normal;
}

.exclusive span{
	color:#000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	display:block;
	font-weight:bold;
}

.effect {
	clear:both;
	margin-top:50px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
}

.effect div {
width: 450px;
height: 31px;
background-color: #e3e1e1;
font-size: 17px;
font-weight: bold;
letter-spacing: 1px;
padding: 19px 0 0 20px;
text-align: left;
}

.effect div img {
margin: -12px 25px 0 0;
float: right;
}

.effect p {
	text-align:center;
	padding-top:15px;
	padding-bottom:25px;
}

.effect p img {
	margin:0 6px;
}
/* 
.effect div.oneLine {
	line-height:32px;
} */

.why {
	margin-top:25px;
	font-weight:bold;
}

.why h3{
	color:#d80c8c;
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size:18px;
	margin-bottom:20px;
}

.why ol{
	margin-left:18px;
	margin-top:10px;
	font-weight:bold;
}

/*--------------------------------------------END of Opus 2.0 1.0.10.html------------------------------*/
/*--------------------------------------------Pet Health Article Index Page 1.0.1.html------------------------------*/
.bigDog.dog2 {
	background-image:url(../images/bigDog2.png);
	background-position:center;
	background-repeat:no-repeat;
	min-height:311px;
	position:relative;
	top:-30px;
	margin-bottom:10px;
}
	
.bigDog.dog2 h1 small {
	font-size:20px;
	position:relative;
	top:-10px;
}

.bigDog.dog2 .article {
height: 31px;
background-image: url(../images/article.png);
background-position: right;
background-repeat: no-repeat;
position: absolute;
right: -12px;
bottom: 25px;
line-height: 25px;
padding-right: 20px;

}

.bigDog.dog2 .article a, .bigDog.cat .article a, .bigDog.dog3 .article a, .bigDog.cat2 .article a, .bigDog.dog4 .article a {
	color:#000;
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size:15px;
	font-weight:bold;
	padding-left:10px;
}

.bigDog.dog2 .article a:hover, .bigDog.cat .article a:hover, .bigDog.dog3 .article a:hover, .bigDog.cat2 .article a:hover, .bigDog.dog4 .article a:hover {
	color:#fff;
}

.bigDog.dog4 .article a {
height: 24px;
margin-top: 1px;
display: block;
background-color: #FF06A5;
}

.bigDog.dog2 .article a {
height: 24px;
margin-top: 1px;
display: block;
background-color: #FF06A5;

}

.bigDog.cat2 .article a {
height: 24px;
margin-top: 1px;
display: block;
background-color: #FF06A5;
}

.chooseSearch {
	margin-top:20px;
}

.choose {
	margin:10px 0 17px 0;
	padding:9px 0 15px 0;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}

.choose:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.sorter {
float:left;
}

.fool.VertLine1 > span {
width:100%;
}

.miniText span a:hover {
color:#D80C8C;

}

.VertLine1, .VertLine2, .VertLine3 {
	float:left;
}

.VertLine1 {
	width:207px;
	padding-left:5px;
}

.VertLine1 label {
margin-left: 18px;
display: block;
}

.VertLine1 input{
float: left;
}



.VertLine2 {
	width:137px;
}

.VertLine3 {
	width:125px;
}

.VertLine1 p, .VertLine2 p, .VertLine3 p {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#ff05a4;
	margin-bottom:10px;
	line-height: 12px;
}

.VertLine1 > span, .VertLine2  > span, .VertLine3 > span {
	width: 110px;
	display:inline-block;
	line-height: 10px;
	margin-bottom: 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#666666;
	vertical-align: top;
}

.lev input,.VertLine3 input {
float: left;
margin-right: 3px;
}
.VertLine1 span.prav {
	width:110px;
}

.VertLine1 span.lev {
	width: 100px;
}

.searchDog {
	margin-bottom:25px;
}

.pagination.miniLeft a, .pagination.miniLeft span{
	position:relative;
	left:-24px;
}

.pagination.miniLeft2 a, .pagination.miniLeft2 span{
	position:relative;
	left:-15px;
}

.pagination a.thatPage{
	color:#999999;
}

.searchDog input[type=text]{
	height:23px;
	line-height:23px;
	padding-left:8px;
	width:280px;
	border:1px solid #e6e6e6;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#ff0099;
	font-weight:bold;
	margin-right:13px;
}

.searchDog input[type=submit]{
	height:23px;
	line-height:23px;
	padding-left:8px;
	text-align:center;
	width:117px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	border:none;
	background-color:#ff06a5;
	cursor:pointer;
}

.searchDog input[type=submit]:hover{
	color:#000;
}

.miniText {
	margin-bottom:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13px;
	color:#000000;
	letter-spacing:0px;
	background: url(/images/list.gif) no-repeat;
	padding-left:25px;
}

.miniText span{
	font-size:13px;
	line-height:15px;
	margin-bottom:3px;
	display:block;
}

.miniText span  a {
color:#000;
}

/*--------------------------------------------END of Pet Health Article Index Page 1.0.1.html------------------------------*/
/*--------------------------------------------Pet Health Cats Section 1.3.1.html------------------------------*/
.bigDog.cat {
	background-image:url(../images/bigCat.png);
	background-position:center;
	background-repeat:no-repeat;
	min-height:311px;
	position:relative;
	top:-30px;
	margin-bottom:10px;
}

.bigDog.cat h1{
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size:45px;
	line-height:45px;
	color:#ff05a4;
	font-weight:400;
	letter-spacing:2px;
	text-align:left;
	position:relative;
	padding-left: 310px;
}

.bigDog.cat h1 small {
	font-size:20px;
	position:relative;
	top:-10px;
}

.bigDog.cat .article {
	width:168px;
	height:31px;
	background-image:url(../images/article.png);
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	right:-11px;
	bottom:45px;
	line-height:25px;
}
.theBest ul {
list-style: disc;
margin-left: 17px;
}

.theBest.petDog p{
margin-bottom: 24px;
}

.article.short {
	background-image:url(../images/article2.png) !important;
	right:-11px !important;
}

.theBest {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:17px;
	padding-right: 20px;
}

.theBest h3 ,  h3  {
	font-family:"Bliss Cyrillic Light", "Myriad Pro";
	font-size:24px;
	color:#d80c8c;
	font-weight:400;
	line-height: 25px;
	margin-bottom:5px;
}
p {
font: 13px arial;
line-height: 18px;
color: #000;
}

hr {
border: 0;
border-top: 1px solid #eeeeee;
border-bottom: 1px solid #ffffff;
margin: 20px 0;
clear: both;
}

.contentTable h4 {
margin-bottom: 10px;
color: #d80c8c;
font: 18px Arial, sans-serif;
}

.contentTable td{
vertical-align: top;
padding-right: 10px;
}

.bigDog.about2 h1 {
font-family: "Bliss Cyrillic Light", "Myriad Pro";
font-size: 76px;
line-height: 64px;
color: #ff05a4;
font-weight: 400;
letter-spacing: 2px;
text-align: left;
position: relative;
top: 70px;
padding-left: 50px;
text-shadow: 3px 0px 3px #aaa;
}

.bigDog.about2 h1 small {
font-size: 74px;
position: relative;
font-weight: bold;
}

.link_more {
margin-top: 10px;
font-family: Bliss Cyrillic Bold, Helvetica, sans-serif;
font-size: 14px;
color: #d80c8c;
margin-bottom: 5px;
display: inline-block;
font-weight: bold;
text-transform: uppercase;
}

.link_more:hover{
color:#000;
}

.catsDiv h4{
text-transform: uppercase;
margin-top: 15px;
margin-bottom: 5px;
}

.catsDiv:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.leftCat, .rightCat {
	float:left;
	width:262px;
	line-height:19px;
}

.middle > .DentaDefense.cat .leftSide {
	width:175px;
	/* padding-left:30px;
	padding-right:65px; */
	padding-left: 40px;
	padding-right: 55px;
}

.middle > .DentaDefense.cat .leftSide.sideBoxView {
padding-left: 48px;
padding-right: 47px;
}



.middle > .DentaDefense.cat .rightSide {
	width:525px;
	padding-right:50px;
}

.leftCat img, .rightCat img {
	margin-bottom:35px;
}
/*--------------------------------------------END of Pet Health Cats Section 1.3.1.html------------------------------*/
/*--------------------------------------------About us------------------------------*/
.bigDog.about2 {
background-image: url(../images/aboutUs.png);
TOP: 8PX;
right: -7px;
}




/*--------------------------------------------Pet Health Dogs Section 1.0.1.html------------------------------*/

.theBest.petDog div{
	margin-top:10px;
	/* font-size:11px; */
	font-family:Arial, Helvetica, sans-serif;
	/* line-height:15px; */
	border-bottom:2px solid #d6d6d6;
	border-top:2px solid #d6d6d6;
	padding:17px 0 10px 0;
}

.theBest.petDog li {
padding-bottom: 15px;
}

.twoDogs, .twoCats{
	margin-top:65px;
	margin-bottom:55px;
}




.related {
	width:195px;
}

.related p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#000;
	margin-bottom:10px;
	border-bottom:1px solid #d6d6d6;
	padding-bottom:10px;
}

.related ul li {
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ed008c;
	margin-bottom:12px;
	/* font-weight:bold; */
	line-height:13px;
	margin-left:10px;
	cursor:pointer;
}

.related ul li.active{
font-weight:bold;
}

.related ul li a {
color: #ed008c;
}

.related ul li:before{
	content:"> ";
	margin-left:-10px;
}


.small {
font-size: 9px;
text-align: right;
display: block;
}

.multi-check  {
width: 288px;
margin-top: 6px;
}


#Subscribers_dryFoodBrands input {
float: left;
margin: 0 10px 0 0;
height: 16px;
}
#Subscribers_dryFoodBrands label {
float: left;
vertical-align: middle;
height: 20px;
width: 117px;
}

.dryFoodFreq, .wetFoodFreq {
margin-bottom: 15px;
}

#hasPettrue {
margin-left: 10px;
}



/*--------------------------------------------END of Pet Health Dogs Section 1.0.1.html------------------------------*/
/*--------------------------------------------Pet Health Puppies and Dogs Section 1.3.2.html------------------------------*/
.bigDog.dog3 {
	background-image:url(../images/bigDog3.png);
	background-position:center;
	background-repeat:no-repeat;
	min-height:311px;
	position:relative;
	top:-30px;
	margin-bottom:10px;
}

.bigDog.dog3.puppy_bg {
background-image:url(../images/dognew.png);
}
	
.bigDog.dog3 h1{
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size:45px;
	line-height:45px;
	color:#ff05a4;
	font-weight:400;
	letter-spacing:2px;
	text-align:left;
	position:relative;
	top:100px;
	padding-left:310px;
}	

.bigDog.dog3 h1 small {
	font-size:20px;
	position:relative;
	top:-10px;
}

.bigDog.dog3 .article {
	width:168px;
	height:31px;
	background-image:url(../images/article.png);
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	right:-11px;
	bottom:25px;
	line-height:25px;
}

.leftCat.dog3 h3, .rightCat.dog3 h3{
	margin-top:20px;
	line-height: 28px;
width: 249px;
}

.dog3 a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000;
	margin-bottom:5px;
	display:inline-block;
}

.dog3 a:hover {
color: #D80C8C;
}
/*--------------------------------------------END of Pet Health Puppies and Dogs Section 1.3.2.html------------------------------*/
/*--------------------------------------------Product Cats 1.2.1.html------------------------------*/
.bigDog.cat2 {
	background-image: url(../images/bigCat2.png);
	background-position: center 13px;
	background-repeat: no-repeat;
	min-height: 311px;
	position: relative;
	top: -12px;
	margin-bottom: 10px;
}

.bigDog.cat2 h1{
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size: 41px;
	line-height:45px;
	color:#ff05a4;
	font-weight:400;
	letter-spacing:4px;
	text-align:left;
	position:relative;
	top: 57px;
	padding-left:290px;
	text-shadow: #b6b6b6 3px 0px 3px;
}	

.bigDog.cat2 h1 small {
	font-size: 16px;
	position:relative;
	top:-10px;
}

.bigDog.cat2 .article {
	height:31px;
	background-image:url(../images/article.png);
	background-position:right;
	background-repeat:no-repeat;
	position:absolute;
	right:-11px;
	bottom:45px;
	line-height:25px;
	padding-right: 20px;
}

.selectOne {
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size:20px;
	font-weight:bold;
	color:#ff0099;
	margin-bottom:5px;
	text-align:center;
}

.imgDog, .imgCat {
	float:left;
	text-align:center;
}



.imgDog img {
margin: 0 9px 0 11px;
}

.imgCat img {
	margin:0 11px 0 9px;

}

.imgDog a, .imgCat a{
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size:14px;
	color:#000;
}

.sortProduct {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	padding: 8px 0;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
}

.sortProduct a {
	color:#ff05a4;
	line-height:100%;
}

.sortProduct a:hover {
	color:#000;
}

.sortProduct span {
	float:right;
	color:#ff05a4;
	margin-right:5px;
}

.sortProduct .form_sort {
   float: left;
}
.sortedProducts .product {
	width:260px;
	float:left;
	margin-top:13px;
	font-weight:bold;
	font-size:12px;
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	line-height:14px;
	margin-bottom:15px;
	position: relative;
}

.sortedProducts .product a {
	font-size:13px;
	color:#ff0099;
	position:relative;
	top:8px;
	text-transform: uppercase;
}

.sortedProducts .product a.name_pr {
color:#000;
}

.sortedProducts .product a:hover {
	color:#000;
}

.sortedProducts .product span {

}

.sortedProducts:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.sortedProducts .product img {
	float:left;
	margin-right: 3px;
}

.posit {
position: absolute;
left: 110px;
bottom: 43px;
}

.rateProduct {
	width:97;
	clear:both;
	padding-left:3%;
	padding-top:5px;
}

.rateProduct img{
	margin:0 3px;
}
/*--------------------------------------------END of Product Cats 1.2.1.html------------------------------*/
/*--------------------------------------------Product Landing Page Dogs 1.2.2.html------------------------------*/
.bigDog.dog4 {
	background-image:url(../images/bigDog4.png);
	background-position:center;
	background-repeat:no-repeat;
	min-height:311px;
	position:relative;
	top:-30px;
	margin-bottom:10px;
}

.bigDog.dog4 h1{
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size:37px;
	line-height:45px;
	color:#ff05a4;
	font-weight:400;
	letter-spacing:4px;
	text-align:right;
	position:relative;
	top:82px;
	padding-left:0px;
	text-align:justify;
	/* width:550px; */
	padding-left:320px;
}	

.bigDog.dog4 h1 span{
	font-size:33px;
	position:relative;
	top:9px;
}

.bigDog.dog4 h1 small {
	font-size: 16px !important;
	position:relative;
	top:-25px;
}

.bigDog.dog4 .article {
	height:31px;
	background-image:url(../images/article.png);
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	right:-11px;
	bottom:45px;
	line-height:25px;
}

#form_filters span {
display: block;
}

#form_filters span:after{
content:"";
overflow: hidden;
display: block;
clear:both;
}

.chooseFootPet {
	clear:both;
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:20px;
	color:#333333;
	padding-left:3px;
}

.chooseFootPet p{
	font-size:12px;
	font-weight:bold;
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	color:#d80c8c;
	text-align:left;
	margin-bottom:1px;
	margin-top: 15px;
	text-transform: uppercase;
	
}

.sortedProducts .product.forDog {
	width:260px;
	float:left;
	margin-top:19px;
	font-weight:bold;
	font-size:14px;
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	line-height:14px;
	margin-bottom:15px;
}

.sortedProducts .product.forDog span{
	padding:45px 0;
}

.sortedProducts .product.forDog a{
	font-size:14px;
	top:5px;
}

.sortedProducts .product.forDog img{
	padding-right:22px;
}

/*--------------------------------------------END of Product Landing Page Dogs 1.2.2------------------------------*/
/*--------------------------------------------END of Product Landing Page Dogs 1.2.2------------------------------*/

.bigDog.dog4.part2 {
	/* background-image:url(../images/bigDog4.1.png);
	background-position:center; */
	background-image: url(../images/bigDog3.png);
	background-position:top;
	background-repeat:no-repeat;
	min-height:311px;
	position:relative;
	top:0px;
	margin-bottom:10px;
	left: 0px;
}
.bigDog.puppyDog.dog4.part2 {
background-image: url(../images/puppyDog.png);
}

.bigDog.dog4.part2 h1{
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	font-size:41px;
	line-height:45px;
	color:#ff05a4;
	font-weight:400;
	letter-spacing:4px;
	text-align: left;;
	position:relative;
	top:52px;
	padding-right: 14px;
	padding-left: 315px;
	text-shadow:#b6b6b6 3px 0px 3px;
}	

.bigDog.dog4.part2 h1 span{
	font-size:41px;
	text-align:right;
	position:relative;
	top:3px;
	letter-spacing:5px;
}

.bigDog.dog4 h1 small {
	font-size:17px;
	position:relative;
	top: -13px;
	letter-spacing:3px;
}

.bigDog.dog4 .article {
	height:31px;
	background-image:url(../images/article.png);
	background-position:right;
	background-repeat:no-repeat;
	position:absolute;
	right:-11px;
	bottom:65px;
	line-height:25px;
	padding-right: 20px;
}

.sortedProducts .product.forDog.part2 {
	width:260px;
	float:left;
	margin-top:19px;
	font-weight:bold;
	font-size:13px;
	font-family:"Bliss Cyrillic Bold", "Myriad Pro";
	line-height:14px;
	margin-bottom:15px;
}

.sortedProducts .product.forDog.part2 span{
	padding:35px 0;
}

.sortedProducts .product.forDog.part2 a{
	font-size:13px;
	top:7px;
}

.sortedProducts .product.forDog.part2 img{
	padding-right:12px;
}

.sortedProducts .product.forDog.part2 .rateProduct img{
	margin:0 3px;
	padding:0;
}

/*--------------------------------------------END of Product Landing Page Dogs 1.2.2------------------------------*/

/*--------------------------------------------home page------------------------------*/
.buyForPest {
	margin-top:10px;
}

.buyForPest:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.windowBuy {
	position: relative;
	float: left;
	width: 192px;
	height: 157px;
	background: #3a3a3a;
	margin-right: 5px;
	border: 9px solid #9b0254;
	border-top: 8px solid #9b0254;
	border-bottom: 8px solid #9b0254;
}


.windowBuy.w4 {
	margin-right:0px;
}
.windowBuy img{
	position:absolute;
	z-index:1;
	width:191px;
	height:157px;
}

.windowBuy h3 {
	position:absolute;
	z-index:2;
	font-family:"Bliss Cyrillic Light", "Myriad Pro";
	font-size:13px;
	font-weight:normal;
	color:#fff;
	margin-top:13px;
	text-align:center;
	width:190px;
	line-height: 14px;
}

.windowBuy.w4 h3 {
	padding-right:85px;
	width:105px;
	margin-top: 10px;
}

.windowBuy.w3 h3 {
	margin-top:10px;
	text-align: left;
	padding-left: 10px;
}

.windowBuy h3 span{
	font-weight:bold;
}

.windowBuy.w2 h3 span{
	background-image:url(../images/lapa.png);
	background-repeat:no-repeat;
	background-position:100% 40%;
}

/*.windowBuy.w2 img {
	margin:28px 0 0 20px;
}

.windowBuy.w4 img {
	margin:0;
}
*/

.w1 .aboutWindow {
margin-left: 31px;
}
.aboutWindow {
	position:absolute;
	z-index:2;
	height:23px;
	background-color:#000;
	padding:0 5px;
	line-height:23px;
	color:#fff;
	font-weight:bold;
	border:2px solid #474646;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top:120px;
	margin-left:48px;
	font-size:11px;
	text-transform:uppercase;
	 behavior: url(border-radius.htc);
}

.aboutWindow:hover {
color: #d40c89;
}



.windowBuy.w3 .aboutWindow {
	margin-left:5px;
}

.windowBuy.w4 .aboutWindow {
	margin-left:5px;
	/*margin-top:73px;*/
}

.homePage  {
	background-color:#000 !important;
	padding-bottom:145px !important;
}

#flashcontent.sliderOut {
	background-color:#262626;
	height:345px !important; 
	width:100%;
	/* padding-top: 5px; */
}

#flashcontent.sliderOut object{
	position:relative;
	left:1px;
	/* top:-4px; */
}

#nonFlashContent {
height: 347px;
overflow: hidden;
position: relative;
}
#nonFlashContent .homebg a {
	display: block;
}
#nonFlashContent .homebg img {
	width: 100%;
}
#flashcontent.sliderOut object {
	left: 0;
}

.forward,
.backward {
position: absolute;
top: 165px;
cursor:pointer;
display: block;
width: 100px;
height: 70px;
}
.forward {
right: 0;
}

.forward  img{
float: right;
margin-top: 25px;
}

.backward {
left: -1px;
}

.backward img {
margin-top: 25px;
}

/*--------------------------------------------end of home page------------------------------*/

.button.bgbtn {
	padding: 2px 10px 3px;
	background-color:#d80c8c;
	text-align:center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:none;
	cursor:pointer;
	color:#fff;
}

.button.bgbtn:hover {
color:#000;
}

.contact_us #white-container {
    padding: 0;
    background: none;
    position: relative;
	width:840px !important;
}

.contact_us  #bodycontent_area {
    margin: 0 0 0 0px;
    background:
        url("/images/nutrition_bg_middle_cat1.gif") left
        top repeat-y;
    padding: 0 0 100px 5px;
	width:840px !important;
}

.contact_us  #bodycontent_area .left-callouts-nav {
    top: -5px;
    position: relative;
    width: 230px;
}

.contact_us  #bodycontent_area .left-callouts-nav .left-callouts {
    margin: 13px 0 0 57px;
}

.contact_us  #bodycontent_area .left-callouts-nav .yellow-box {
    background: url("/images/article_bg.jpg") bottom
    left no-repeat;
    margin: 55px 0px 0px 35px;
}

.contact_us  #bodycontent_area .left-callouts-nav .yellow-box div {
border-top: 1px solid #D4D4D4;

    margin: 0 9px;
    width: 150px;
    padding: 0 15px 25px 15px;
}

.contact_us  #bodycontent_area .left-callouts-nav .box2 {
    margin-top: 30px;
}

.contact_us  #bodycontent_area .left-callouts-nav .yellow-box strong {
    color: #666666;
    font-size:1.25em;
    border-bottom: 1px solid #d4d4d4;
    display: block;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
}

.contact_us  #bodycontent_area .left-callouts-nav .yellow-box p {
    font-size:.85em;
    color: #999999;
    padding-top: 10px;
    line-height: normal;
}

.contact_us  #bodycontent_area .txt-content {
    margin:0;
    width: 555px;
}

.contact_us  #bodycontent_area .intro {
    color: #666666;
    margin-bottom: 25px;
	margin-top: 15px;
}
.contact_us h2.heading {font-size:1.4em}
.contact_us  #bodycontent_area .intro .intro-summary {
    font-size:1.2em;
}

.contact_us  #bodycontent_area .intro p {
    margin-top: 8px;
    font-size:1em;
    margin-bottom: 2px;
}

.contact_us  #bodycontent_area .intro p strong {
    margin-top: 10px;
    display: inline-block;
}

.contact_us  #bodycontent_area  h3.heading {
    color: #E2510A;
    font-size:1.4em;
    margin: 0 0 10px;
    border-bottom: 1px solid #D4D4D4;
}

.contact_us p a:hover {
    color: #F75D00 !important;
}

._col { 
float: left;
}

.txt-content h1.heading.shops{
color: #d40c89;
font-size: 24px;
border-bottom: 1px solid #d4d4d4;
padding-bottom: 10px;
}

.container_select {
position:relative;
margin: 15px 0 15px;
}

.shops_add {
width: 100%;
margin-top: 35px;
border-spacing: 0;
}

.even {
background: #f6f6f6;
}

.shops_add th {
color: #d40c89;
font: 16px verdana;
border-bottom: 1px solid #d4d4d4;
padding-bottom: 5px;
background: none;
text-align:left;
}

#bodycontent_area {
color: #6C6C60;
}

.shops_add td {
font-size: 12px;
padding: 10px 5px;
}

a.returntop {
font-size: .9em;
display: inline-block;
margin-bottom: 34px;
margin-top: 20px;
color: #d40c89;
}

select#city_id {
	cursor:pointer;
	font-size:11px;
}

select#city_id:hover {
	outline:none;
}



/* JOIN */
.join.step2 {
    padding: 0 70px 0 35px;
    width: 495px;
    float: left;
}
.join.step2 h2 {
    color: #D80C8C;
    font-family: "Bliss Cyrillic Light","Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.join.step2 p {
    color: #000000;
   /*  font-family: "Bliss Cyrillic Light","Myriad Pro"; */
   /*  font-size: 11px;
    letter-spacing: 1px; */
    line-height: 18px;
    margin-top: 20px;
    /* text-shadow: 0 0 1px #CCCCCC; */
}
.join.step2 #finish-have-pet{
    clear: both;
}

.join.step2 #hasCat {
    margin: 15px 0;
    width: 500px;
}

.join.step2 input.button {
    background-color: #D80C8C;
    border: medium none;
    box-shadow: none;
    color: #FFFFFF;
    cursor: pointer;
   /*  font: 11px "Bliss Cyrillic Light","Myriad Pro"; */
    vertical-align: baseline;
    word-spacing: 5px;
    height: auto;
    padding: 5px;
 /*    text-transform: uppercase; */
}

.join.step2 .newListSelected {
    margin:  5px 10px 5px 0;
    width: 204px;
	
}
.join.step2 .selectedTxt {
    background: url("../images/select1.png") no-repeat scroll 0 0 #FFFFFF;
    color: #6D6B72;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 0 0 10px;
    position: relative;
    width: 194px;
    z-index: 1;
}
.join.step2 .selectedTxt:hover {
    background: url("../images/select2.png") no-repeat scroll 0 0 #FFFFFF;
    outline: none;
}

.join.step2 .newList {
    list-style: none outside none;
    padding: 0;
    position: absolute;
    top: 23px;
    width: 204px;
    z-index: 500;
}
.join.step2 ul.newList {
    /*height: 115px !important;*/
    overflow-x: hidden;
    overflow-y: scroll;
}

.join.step2 .newList li {
    margin: 0;
    padding: 0;
}

.join.step2 .newList li a {
    background: none repeat scroll 0 0 #CCCCCC;
    display: block;
    font-size: 10px;
    height: 23px;
    line-height: 23px;
    outline: medium none;
    overflow: hidden;
    padding: 0 6px;
}

.join.step2 .newList li a:link, .join.step2 .newList li a:visited, .join.step2 .newList li a:hover {
    color: #000000;
    text-decoration: none;
}

input[type="text"].txt  {
display: block;
}

.remove-pet {
margin-left: 43px;
}

.add-pet {
clear: both;
padding-top: 15px;
display: block;
}

.bottom-check {
margin: 9px 0;
}

.bottom-check label {
vertical-align: middle;
}


.bottom-check.last_ {
margin-top: 15px;
}


p.mypet input{
margin-top: 5px;
}


/* BANNERS */
.leftBanners{
    padding-left: 45px;
    padding-right: 25px;
    width: 175px;
    float: left;
}
.leftBanners div {
    border-bottom: 1px solid #DEDEDE;
    color: #000000;
    font-family: "Bliss Cyrillic Light","Myriad Pro";
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 14px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.leftBanners h2 {
    color: #D80C8C;
    font-family: "Bliss Cyrillic Light","Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 5px;
}
 a.LearnMore {
    background-color: #D80C8C;
    color: #FFFFFF;
    display: inline-block;
    font-family: Bliss Cyrillic Bold,Helvetica,sans-serif;
    font-size: 11px;
    height: 22px;
    line-height: 24px;
    margin-top: 18px;
    padding: 0 6px;
    text-align: center;
}

.pack {
font-family: "Bliss Cyrillic Bold", "Myriad Pro";
text-transform: uppercase;
color: #fff !important;
background-color: #4a4949;
font-size: 11px;
line-height: 22px;
display: inline-block !important;
padding: 0 11px;
letter-spacing: 1px;
margin-bottom: 35px !important;
}

.leftBanners a.LearnMore:hover {
 color: #000;
}
.leftBanners div.last{
    border-bottom: none;
}

.select-count-pets {
height: 20px;
}

#b-pet1 {
margin-top: 15px;
}

/* PAGES */

.fix_page{
    padding: 0px 20px 0 22px;
	width: 525px;
    float: left;

}
.fix_page.top {padding-top: 22px;}

.faq-list a {
color: #000;
background: url(/images/list.gif) no-repeat;
margin: 10px 0;
display: block;
padding-left: 25px;
}

.faq-list a:hover {
color: #D80C8C;
}



.fix_page h1{
    color: #D80C8C;
    font-family: "Bliss Cyrillic Light","Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
   margin-bottom: 10px;
	text-transform: uppercase;
}
.terms_conditions .fix_page {
    padding: 0px;
}
.privacy_notice .fix_page {
    padding: 0px;
}

#havePets .newListSelected{
		width:49px;
		float:left;
		margin-right:3px;
	}
	#havePets .selectedTxt{
		width:39px;
		height:20px;
		padding:0 0 0 15px;
		overflow:hidden;
		background:url(../images/select3.png);
		background-color:#FFFFFF;
		background-repeat:no-repeat;
		background-size:49px 20px;
		color:#787598;
		font-size:11px;
		line-height:20px;
		zoom:1;
		position:relative;
		z-index:1;
		color:#6d6b72;
		font-weight:bold;
		top:-5px;
	}
	#havePets .selectedTxt:hover{
	background:url(../images/select5.png);
		background-color:#FFFFFF;
		background-repeat:no-repeat;
		outline:none;
		background-size:49px 20px;
	}
	#havePets .newList{
		list-style:none;
		padding:0;
		width:49px;
		position:absolute;
		z-index:500;
		top:15px !important;
	}
	#havePets ul.newList{
		max-height:210px !important;
		overflow-y:scroll;
		overflow-x:hidden;
		}
	#havePets .newList li{padding:0;margin:0;}
	#havePets .newList li a{
		display:block;
		background:#ccc;
		font-size:10px;
		padding:0 6px;
		outline:none;
		height:23px;
		overflow:hidden;
		line-height:23px;
	}
	#havePets .newList li a:link, #havePets .newList li a:visited, #havePets .newList li a:hover{color:#000;text-decoration:none;}
	#havePets .newList li a.hiLite, #havePets .newList li a.newListHover{background-color:#999999;}
	
	
.mBirthDay .newListSelected{
		width:65px !important;
		float:left;
		margin-right:3px;
	}
	.mBirthDay .selectedTxt{
		width:65px !important;
		height:20px;
		padding:0 0 0 5px !important;
		overflow:hidden;
		background:url(../images/select3.png) !important;
		background-color:#FFFFFF;
		background-repeat:no-repeat !important;
		background-size:65px 20px !important;
		color:#787598;
		font-size:11px;
		line-height:20px;
		zoom:1;
		position:relative;
		z-index:1;
		color:#6d6b72;
		font-weight:bold;
		text-align:left;
	}
	.mBirthDay .selectedTxt:hover{
	background:url(../images/select5.png) !important;
		background-color:#FFFFFF;
		background-repeat:no-repeat !important;
		outline:none;
		background-size:65px 20px !important;
	}
	.mBirthDay .newList{
		list-style:none;
		padding:0;
		width:65px !important;
		position:absolute;
		z-index:500;
		top:23px;
	}
	.mBirthDay ul.newList{
		height:210px !important;
		overflow-y:scroll;
		overflow-x:hidden;
		}
	.mBirthDay .newList li{padding:0;margin:0;}
	.mBirthDay .newList li a{
		display:block;
		background:#ccc;
		font-size:10px;
		padding:0 6px;
		outline:none;
		height:23px;
		overflow:hidden;
		line-height:23px;
	}
	.mBirthDay .newList li a:link, .mBirthDay .newList li a:visited, .mBirthDay .newList li a:hover{color:#000;text-decoration:none;}
	.mBirthDay .newList li a.hiLite, .mBirthDay .newList li a.newListHover{background-color:#999999;}
	
	
	
	
.yBirthDay .newListSelected{
		width:50px !important;
		float:left;
		margin-right:3px;
	}
	.yBirthDay .selectedTxt{
		width:49px !important;
		height:20px;
		padding:0 0 0 9px !important;
		overflow:hidden;
		background:url(../images/select3.png) !important;
		background-color:#FFFFFF;
		background-repeat:no-repeat !important;
		color:#787598;
		font-size:11px;
		line-height:20px;
		zoom:1;
		position:relative;
		z-index:1;
		color:#6d6b72;
		font-weight:bold;
	}
	.yBirthDay .selectedTxt:hover{
	background:url(../images/select5.png) !important;
		background-color:#FFFFFF;
		background-repeat:no-repeat !important;
		outline:none;
	}
	.yBirthDay .newList{
		list-style:none;
		padding:0;
		width:50px !important;
		position:absolute;
		z-index:500;
		top:23px;

	}
		.yBirthDay ul.newList{
		height:210px !important;
		overflow-y:scroll;
		overflow-x:hidden;
		}
	.yBirthDay .newList li{padding:0;margin:0;}
	.yBirthDay .newList li a{
		display:block;
		background:#ccc;
		font-size:10px;
		padding:0 6px;
		outline:none;
		height:23px;
		overflow:hidden;
		line-height:23px;
	}
	.yBirthDay .newList li a:link, .yBirthDay .newList li a:visited, .yBirthDay .newList li a:hover{color:#000;text-decoration:none;}
	.yBirthDay .newList li a.hiLite, .yBirthDay .newList li a.newListHover{background-color:#999999;}
	
	




.question_field .petPoroda .newListSelected{
		width:194px !important;
		float:left;
		margin-right:3px;
	}
	.question_field .petPoroda .selectedTxt{
		width:182px !important;
		height:20px;
		padding:0 17px 0 5px !important;
		overflow:hidden;
		background:url(../images/select1.png) !important;
		background-color:#FFFFFF;
		background-repeat:no-repeat !important;
		color:#787598;
		font-size:11px;
		line-height:20px;
		zoom:1;
		position:relative;
		z-index:1;
		color:#6d6b72;
		font-weight:bold;
	}
	.question_field .petPoroda .selectedTxt:hover{
	background:url(../images/select2.png) !important;
		background-color:#FFFFFF;
		background-repeat:no-repeat !important;
		outline:none;
	}
	.question_field .petPoroda .newList{
		list-style:none;
		padding:0;
		width:204px !important;
		position:absolute;
		z-index:500;
		top:23px;

	}
		.question_field .petPoroda ul.newList{
		overflow-y:scroll;
		overflow-x:hidden;
		max-height:210px !important;
		height:auto !important;
		}
	.question_field .petPoroda .newList li{padding:0;margin:0;}
	.question_field .petPoroda .newList li a{
		display:block;
		background:#ccc;
		font-size:10px;
		padding:0 6px;
		outline:none;
		height:23px;
		overflow:hidden;
		line-height:23px;
	}
	.question_field .petPoroda .newList li a:link, .question_field .petPoroda .newList li a:visited, .question_field .petPoroda .newList li a:hover{color:#000;text-decoration:none;}
	.question_field .petPoroda .newList li a.hiLite, .question_field .petPoroda .newList li a.newListHover{background-color:#999999;}

.macavity .bigDog.about2 h1 {
font-size: 57px;
line-height: 50px;
top: 30px;
}
	
.macavity .bigDog.about2 {
right: -5px;
}

.contactus {
margin-top: 45px; 
}
.about_us .fix_page{
padding: 0 20px 0 35px;
width: 526px;
}


dt {
font-weight: bold;
}

dt, dd {
line-height: 20px;
}

dd {
margin-left: 10px;
}

dd p {
font: 11px/15px arial;
text-align: justify;
}

dd h6 {
color: #d80c8c;
font: bold 12px arial;
margin: 0;
}


.dl-horizontal {
margin: 0 10px 20px 10px;
overflow: hidden;
}
.dl-horizontal::after {
clear: both;
}

.dl-horizontal dt {
float: left;
width: 160px;
overflow: hidden;
clear: left;
text-align: right;
text-overflow: ellipsis;
white-space: nowrap;
}

.dl-horizontal dd {
margin-left: 180px;
}

.dl-horizontal h6{
margin-top: 7px;
}

.right.dl-horizontal dt {
text-align: left;
width: 140px;
}


.right.dl-horizontal dd {
margin-left: 140px;
}


.left.dl-horizontal dt {
float: right;
text-align: right;
width: 140px;
}

.left.dl-horizontal dd {
margin-left: 0;
}

.popover-map {
border: 1px solid red;
background-clip: padding-box;
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 6px 6px 6px 6px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
left: 0;
padding: 1px;
position: absolute;
text-align: left;
top: -45px;
white-space: normal;
width: 255px;
z-index: 1010;
}

.popover-title-map {
background-color: #F7F7F7;
border-bottom: 1px solid #EBEBEB;
border-radius: 5px 5px 0 0;
font-size: 14px;
font-weight: normal;
line-height: 18px;
margin: 0;
padding: 8px 14px;
}
.popover-content-map {
padding: 9px 14px;
}
.info-box > img {
bottom: 45px;
z-index: 9999;
}

.product-list  {
overflow: hidden;
}



.product-list + .pager {
overflow: hidden;
margin-top: 20px;
border-top: 1px solid #e6e6e6;
border-bottom: 1px solid #e6e6e6;
padding-top: 7px;
padding-bottom: 7px;
}

.product.new {
position:relative;
}

.product.new .new-sign {
width:50px;
height:50px;
background: url(../images/new.png) no-repeat;
position:absolute;
z-index:10;
top: -5px;
}

.bag-size {
display: block;
margin-top: 10px;
font-size: 11px;
width: 188px;
line-height: 12px;
}

.btn {
background: #d80c8c;
border: none;
padding: 2px 10px;
border-radius: 2px;
color: #fff;
cursor:pointer;

}

.btn:hover {
color: #000;

}

#form_filters  label{
display: inline-block;
width: 145px;
margin-left: 6px;
margin-bottom: 3px;
margin-top: 3px;
line-height: 16px;
}

#form_filters label:after {
 clear: both;
    content: "";
    display: block;
    overflow: hidden;
}


#form_filters input {
float: left;
margin-top: 3px;

}

/* FAQ */
.faq {
    margin-top:40px;
}
.faq hr{
    margin: 5px;
}
.faq .list-view-loading{
    background-position: 0px 20px;
}
.faq input {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    height: 23px;
    line-height: 23px;
    padding-left: 8px;
}
.faq input[type="text"] {
    border: 1px solid #E6E6E6;
    color: #FF0099;
    font-weight: bold;
    margin-right: 13px;
    width: 280px;
}
.faq input[type="submit"] {
    background-color: #FF06A5;
    border: medium none;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    width: 117px;
}
.faq input[type="submit"]:hover {
    color: #000000;
}

.faq .sorter {
float: left;
}

/* styles for vhsp ----------- */

.vhsp .bigDog.about2 h1 {
font-size: 36px;
top: 100px;
padding-left: 260px;
line-height: 43px;
}

.vhsp .bigDog.about2 h1 small{
font-size: 20px;
position: relative;
top: -10px;
}

.vhsp  .bigDog.about2 {
top:-30px;
}

.staticwrap ul.vhs_landing {
margin-top: 20px;
padding-right: 50px;
margin-left: 0;
list-style:none;

}

UL.vhs_landing LI {
min-height: 47px;
padding-left: 58px;
}

.vhs_landing  LI {
padding: .5em 0;
}

LI.strong_defence {
	background:url(/images/icon-strong-defenses.gif) no-repeat top left;	
}
LI.skin_coat {
	background:url(/images/icon-skin-coat.gif) no-repeat top left;	
}
LI.lean_muscle {
	background:url(/images/icon-lean-muscles.gif) no-repeat top left;	
}
LI.digestion {
	background:url(/images/icon-optimal-digestion.gif) no-repeat top left;	
}
LI.strong_bones {
	background:url(/images/icon-strong-bones.gif) no-repeat top left;	
}
LI.dentadefense {
	background:url(/images/icon-dentadefense.gif) no-repeat top left;	
}
LI.puppy_growth {
	background:url(/images/icon-puppy-growth.gif) no-repeat top left;	
}
LI.puppy_learning {
	background:url(/images/icon-puppy-learning.gif) no-repeat top left;	
}
.vhs_landing LI A {
	font-weight:bold;	
}

/* styles for vhsd ----------- */
.vhsd .bigDog.about2 h1 {
font-size: 36px;
top: 80px;
padding-left: 280px;
line-height: 43px;
}

.vhsd  .bigDog.about2 {
top:-30px;
}


.staticwrap ul {
list-style: disc;
margin-left: 18px;
}

.professionals .middle.DentaDefense .rightSide {
width: 530px;
}
.professionals .leftCat img, .rightCat img {
margin-bottom:0;
}
.rightSide.welcomeBlack form input[type=submit]  {
background-color: #4a4949;
}
.rightSide.welcomeBlack form input[type=text] {
color: #4a4949;
}

.professionals .chooseSearch {
margin-top: 0;
}
.professionals .leftBanners h2,
 .partners .leftBanners h2{
color: #000;
}

.professionals  .leftBanners a.LearnMore, .partners  .leftBanners a.LearnMore{
background-color: #4a4949;
color: #fff;
}

.professionals  .leftBanners a.LearnMore:hover, partners  .leftBanners a.LearnMore:hover {
color: #d40c89;
}

.bigDog.man {
background-image: url(../images/bigMan.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
min-height: 290px;
position: relative;
top: -10px;
margin-bottom: 10px;
}

.bigDog.man h1 {
font-family: "Bliss Cyrillic Bold", "Myriad Pro";
font-size: 31px;
line-height: 28px;
color: #000;
font-weight: 400;
letter-spacing: 2px;
text-align: right;
position: relative;
top: 100px;
padding-left: 0;
padding-right: 50px;
}

.bigDog.man h1 span {
font-size: 55px;
color: #595959;
letter-spacing: 5px;
}

.bigDog.man h1 small {
font-size: 20px;
position: relative;
display: block;
line-height: 22px;
color: #595959;
top: 15px;
}

.bigDog.best {
background-image: url(../images/best.png);
background-position: 10px 0;
background-repeat: no-repeat;
min-height: 350px;
position: relative;
top: -10px;
margin-bottom: 10px;
}

.bigDog.best h1 {
font-family: "Bliss Cyrillic Bold", "Myriad Pro";
font-size: 45px;
line-height: 45px;
color: #000;
font-weight: 400;
letter-spacing: 4px;
text-align: center;
position: relative;
top: 90px;
padding-left: 0;
padding-right: 310px;
text-transform: uppercase;
}

.pri_kishechnyh_rasstrojstvah .staticwrap ul {
line-height: 20px;
}

.pri_kishechnyh_rasstrojstvah  a:hover{
color:#000;
}

.vets_menu {
float: left;
}

.vets_menu  .related{
margin-left: 42px;
width: 180px;
}



/*--------------------------------------------search------------------------------*/





.searchRezult .leftSide {
	width:175px;
	padding-left:30px;
	padding-right:65px;
}

.searchRezult .rightSide {
	width:525px;
	padding-right:50px;
}

.searchRezult .rightSide h1 {
	margin-top:22px;
	color:#FF0099;
	font-size:36px;
	font-weight:normal;
	margin-bottom: 25px;
	font-family: "Bliss Cyrillic Light";
}

.rezultOfSearch p {
	/* margin-top:40px; */
	/* font-size:16px;
	color:#333333;
	font-family:"Myriad Pro"; */
}

.rezultOfSearch p a {
	margin-top:40px;
	font-size:18px;
	color:#CC0066;
	display:block;
	margin-bottom:7px;
}

.paginator {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	padding:10px 0;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	text-align:right;
	padding-right:10px;
}

.pagination  a {
	color:#ff05a4;
	line-height:100%;
}

.pagination  a:hover {
	font-weight:bold;
}

.pagination {
text-align: center;
/* width: 100%;
height: 35px;
line-height: 35px; */
}

.searchRezult {
margin-top: 45px;
}

.searchRezult .LearnMore{ 
text-transform: uppercase;
}

.paginator .prev {
display: none;
}

#search-list-view .paginator ul {
margin: 0 10px 0;
display:inline-block;
}

.paginator ul > li {
border-right: 1px solid #6C6C60;
display: inline;
}

.paginator li > a {
padding: 0 6px 0 2px;
}

.items {
margin-top: 25px;
}

.rezultOfSearch  li.active a {
font-weight:bold;
}


/*--------------------------------------------End of searchs------------------------------*/

.professionals .catsDiv a {
background: url(../images/icon_ok.png) no-repeat;
padding-left: 25px;

}

/* corrections 2013.04.15 */
#footer {
    position: relative;
    z-index: 500;
}
#wrapper {
	position: relative;
/* 	padding: 0 0 145px; */
    z-index: 400;
}

#wrapper:after {
content: ".";
display: block;
height: 145px;
clear: both;
visibility: hidden;
}
.body-home #content {
    padding: 0 !important;
}
#content {
	padding: 0 0 20px;
}
#footer ul li a,
.copyright {
    font-size: 11px;
}

.welcome {
	position: absolute;
	top:0;
	left: 0;
	color:#fff;
	font: 13px/18px Arial, Tahoma, Verdana, sans-serif;
	font-size: 11px;
}
.welcome span,.welcome ul,.welcome li {
	display: inline-block;
	vertical-align: top;
	line-height: 35px;
	height: 35px;
}
.welcome li a {
	padding-right: 5px;
}
.welcome li:first-child a{
	border-right: 1px solid #fff;
}
.welcome li a:hover {
	color:#fff;
}
.welcome span {
	margin-right:15px;
}
.welcome li {
	margin-right: 1px;
}
.welcome li:first-child {border:0;}
.welcome_container {
	width: 855px;
	margin:auto;
	position: absolute;
	top:0;
	left:0;
	right:0;
	z-index: 1000;
}
.header_image {
	border:8px solid #464646;
	width: 100%;
	height: 295px;
	background-color: #f3f1f1;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	background-position: center ;
	background-image: url(../images/header_image.png);
	position: relative;
}
.header_image .content_header {
	width: 100%;
	height: 279px;
	background-repeat:no-repeat;
	background-position: top left;
}
.header_image.nutrition .content_header{
	background-image: url(../images/Nutrition.png);
}
.header_image.breedersrecommended .content_header{
	background-image: url(../images/breedersrecommended.png);
}
.header_image.articles .content_header{
	background-image: url(../images/articles.png);
}
.header_image.Newsletter .content_header{
	background-image: url(../images/Newsletter.png);
}
.header_image.landing_page .content_header{
	background-image: url(../images/landing_page.png);
}
.header_image.shoppinglist_header .content_header{
	background-image: url(../images/shoppinglist.png);
}

.header_image.catalog .content_header{
	background-image: url(../images/catalog.png);
}
.header_image.articles_s .content_header{
	background-image: url(../images/articles1.png);
}
.header_image.articles_s .ico {
	position: absolute;
	top: -22px;
	left:0;
	width: 419px;
	height: 342px;
	background-image: url(../images/articles_icon.png);
}
.header_image .content_header .text_header {
	width: 255px;
	position: absolute;
	top:50px;
	right:215px;
	text-align: center;
}

.header_image.landing_page .content_header .text_header {
	width: 355px;
	right: 245px;
}
.header_image.catalog .content_header .text_header p.second {font-size: 10pt;}
.header_image.catalog .content_header .text_header {
	top: 20px;
	width: 265px;
}
.header_image.articles .text_header {
	right: 215px;
}
.header_image.breedersrecommended .text_header {
	top:20px;
	right:245px;
}
.header_image.landing_page .text_header {
	top:20px;
	right:295px;
}
.header_image .content_header .text_header h3 {
	font-size: 30px;
	line-height: 35px;
	-webkit-text-shadow: 1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	-moz-text-shadow:    1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	text-shadow:         1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	padding-bottom: 15px;
	border-bottom: 1px solid #262626;
	text-transform: uppercase;

}

.header_image .content_header .text_header h3.bold {font-weight: bold;}

.header_image .content_header .text_header p {
	-webkit-text-shadow: 1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	-moz-text-shadow:    1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	text-shadow:         1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	color:#000;
	font-size: 16px;
	margin-top: 15px;
}
.header_image .content_header .header_right_menu {
	position: absolute;
	width: 230px;
	right:-25px;
	top:30px;
}
.header_image .content_header .header_right_menu:after {
	content:"";
	position: absolute;
	right:0;
	width: 25px;
	height: 12px;
	bottom:-12px;
	background-image: url(../images/button_back.png);
	background-repeat:no-repeat;
	background-position: center left;
}
.header_image .content_header .header_right_menu li {
	list-style: none;
	background-color:#c81883;
	height:25px;
	display: block;
	border-top: 2px solid #950d60;
}
.header_image .content_header .header_right_menu li:first-child {border-top: 0;}

.header_image .content_header .header_right_menu li a {
	line-height: 25px;
	color:#fff;
	text-align: center;
	display: block;
	font-size: 11px;
}

.header_image .content_header .header_right_menu li a:hover,.header_image .content_header .header_right_menu li a.active {
	color:#000;
}

.content_iner .main_title {
	font-size: 30px;
	color:#d5188b;
	text-align:center;
	font-weight: normal;
	width: 80%;
	margin:20px auto;
	line-height: 35px;
}

.content_iner .main_title.second {
	-webkit-text-shadow: 1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	-moz-text-shadow:    1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	text-shadow:         1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	color:#000;
	font-size: 18px;
	line-height: 25px;
}

.reasons h3{
	font-size: 13px;
	color:#000;
	margin-bottom: 0;
	padding-bottom: 0;
	font-weight: bold;
}

.reasons li {
	list-style: none;
	padding-left: 135px;
	padding-right: 50px;
	min-height: 95px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	background-position:20px center ;
	background-repeat:no-repeat;
	margin-bottom: 10px;
}

.reasons li.reason_1 {background-image: url(../images/reasons_1.png)}
.reasons li.reason_2 {background-image: url(../images/reasons_2.png)}
.reasons li.reason_3 {background-image: url(../images/reasons_3.png)}
.reasons li.reason_4 {background-image: url(../images/reasons_4.png)}
.reasons li.reason_5 {background-image: url(../images/reasons_5.png)}
.reasons li.reason_6 {background-image: url(../images/reasons_6.png)}
.reasons li.reason_7 {background-image: url(../images/reasons_7.png)}
.reasons li.reason_8 {background-image: url(../images/reasons_8.png)}
.reasons li.reason_9 {background-image: url(../images/reasons_9.png)}
.reasons li.reason_10 {background-image: url(../images/reasons_10.png)}

.content_iner .left_column ,.content_iner .right_column{
	width: 346px;
	min-height: 719px;
	background-color:#f4f1f1;
	position: relative;
	padding:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	-moz-box-shadow:inset -4px 0px 63px rgba(50, 50, 50, 0.32);
	-webkit-box-shadow:inset -4px 0px 63px rgba(50, 50, 50, 0.32);
	box-shadow:inset -4px 0px 63px rgba(50, 50, 50, 0.32);
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}
.content_iner .left_column img ,.content_iner .right_column img{
	width: 279px;
	display: block;
	margin:auto;
	position: relative;
}



.content_iner .left_column p,.content_iner .right_column p ,.content_iner .bottom_column p {
	margin-top: 20px;
}
.content_iner  p.red {color:#d5198b;}

.content_iner .bottom_column {
	margin-top: 50px;
}
.content_iner .bottom_column img {
	float: left;
	margin-top: 50px;

}

.content_iner .bottom_column .main_title {
	font-size: 14px;
	width: 100%;
	text-shadow:none;
}

.content_iner .bottom_column .text_content{
	width: auto;
	margin-left: 260px;
}

.content_iner .bottom_column {
	padding:0 50px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

.lines {
	background-image: url(../images/lines.png);
	background-position: center top;
	background-repeat:no-repeat;
	height: 45px;
	display: block;
	position: relative;
	line-height: 45px;
	text-align: center;
	font-size: 18px;
	color:#262626;
	font-weight: normal;
	margin-top: 10px;
}
.lines:after {
	content:"";
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	height:4px;
	background-image: url(../images/lines.png);
	background-position: center;
	background-repeat:no-repeat;
}

.list_articles li {
	display: block;
	list-style: none;
	line-height: 30px;
	text-align: center;
}

.landing_page_top_list li{
	display: inline-block;
	vertical-align: top;
	width: 245px;
	margin-left: 23px;
	margin-top: 30px;
}
.landing_page_top_list li p {
	min-height: 50px;
}
.landing_page_top_list li span {
	min-height: 95px;
	display: block;
}
.landing_page_top_list li div {
	height:160px;
	margin-top: 10px;
}
.landing_page_top_list li div img {
	display: block;
	margin:auto;
}
.landing_page_top_list li h4 {
	color:#c81883;
	font-size: 14px;
}

.landing_page_top_list li button {
	width: 141px;
	height: 22px;
	text-align: center;
	color:#fff;
	line-height: 22px;
	outline: 0;
	border:0;
	background: #c81883;
	margin: auto;
	display: block;
	margin-top: 20px;
	position: relative;
	cursor: pointer;
}
.landing_page_top_list li button:after {
	width: 21px;
	height: 9px;
	position: absolute;
	right:0;
	bottom:-9px;
	background: url(../images/button_pic.png) no-repeat center;
	content:"";
}


.title_landing_page {
	background-image: url(../images/lines.png);
	background-position: center top;
	background-repeat:no-repeat;
	display: block;
	position: relative;
	line-height: 45px;
	text-align: center;
	font-size: 18px;
	color:#262626;
	font-weight: normal;
	margin-top: 40px;
	padding: 15px 0;

}
.title_landing_page:after {
	content:"";
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	height:4px;
	background-image: url(../images/lines.png);
	background-position: center;
	background-repeat:no-repeat;
}
.title_landing_page h3 {
	-webkit-text-shadow: 1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	-moz-text-shadow: 1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	text-shadow: 1px 1px 0px #fff,1px 1px 5px rgba(50, 50, 50, 0.52);
	color: #000;
	font-size: 16px;
}
.title_landing_page a:hover {
	color:#000;
}
.landing_page_foot_list {
	margin-bottom: 20px;
}
.landing_page_foot_list  li{
	width: 360px;
	display: inline-block;
	vertical-align: top;
	background-image:url(../images/bg_puppy.png);
	background-repeat: repeat-y;
	background-position: center left;
	position: relative;
	margin-top: 50px;
	margin-left: 30px;
	padding:20px;
	padding-right:100px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	min-height: 185px;
	margin-right: 10px;
}
.landing_page_foot_list  h3 {
	color:#c81883;
	font-size: 14px;
}
.landing_page_foot_list  li div {
	position: absolute;
	top:-30px;
	right:-30px;
	z-index: 1000;
}

.landing_page_foot_list li button {
	width: 141px;
	height: 22px;
	text-align: center;
	color:#fff;
	line-height: 22px;
	outline: 0;
	border:0;
	background: #c81883;
	margin: auto;
	display: block;
	margin-top: 20px;
	position: absolute;
	left:20px;
	bottom: -10px;
	cursor: pointer;
}
.landing_page_foot_list li button:after {
	width: 21px;
	height: 9px;
	position: absolute;
	right:0;
	bottom:-9px;
	background: url(../images/button_pic.png) no-repeat center;
	content:"";
}

.landing_page_video {
	padding: 0 30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	margin-top: 20px;
}

.shopping_list_bg {
	width: 778px;
	height: 395px;
	margin:auto;
	background-image:url(../images/list.png);
	margin-bottom: 20px;
}

.shopping_list_bg ul {
	width: 50%;
	float:left;
	padding-left: 50px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	margin-top: 20px;
	font-size: 14px;
}
.shopping_list_bg  div {
	overflow: hidden;
}
.shopping_list_bg h3 {
	font-size: 16px;
	text-indent: 15px;
}
.shopping_list_bg li ,.shopping_list_bg li label ,.shopping_list_bg li label input{
	line-height: 22px;
}
.print_button {
	background-color: #D80C8C;
	color: #FFFFFF;
	display: inline-block;
	font-family: Bliss Cyrillic Bold,Helvetica,sans-serif;
	font-size: 11px;
	height: 22px;
	line-height: 24px;
	margin-top: 18px;
	padding: 0 6px;
	text-align: center;
	outline: 0;
	cursor: pointer;
	border:0;
	width: 120px;
	text-transform: uppercase;
	margin-left: 30px;
}


/* responsive  iPads (portrait and landscape) ----------- */
/*@media screen and (min-device-width : 768px) and (max-width : 1024px) {*/
@media (max-width : 1100px) {
	body .socialNetworkIn,
	body .navigation,
	body  #content,
	body #footer {
		margin-left: 140px;
	}


	#footer,
	.body-home #footer {
		width: auto;
		overflow: hidden;
	}
	#footer ul,
	#footer .copyright {
		display: block;
		width: 845px;
	}
	.body-home #footer ul,
	.body-home #footer .copyright {
		display: block;
		width: 855px;
	}
	.body-home .sticker {
		margin-left: -125px;
	}
}
@media (max-width : 350px) {
	
}
/* end responsive */