// retina.less
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)

.at2x(@path, @w: auto, @h: auto) {
  background-image: url(@path);
  @at2x_path: ~`"@{path}".split('.').slice(0, "@{path}".split('.').length - 1).join(".") + "@2x" + "." + "@{path}".split('.')["@{path}".split('.').length - 1]`;

  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
    background-image: url(@at2x_path);
    background-size: @w @h;
  }
}

/*In your stylesheet, call the .at2x() mixin anywhere instead of using background-image

#logo {
  .at2x('/images/my_image.png', 200px, 100px);
}

Will compile to:

#logo {
  background-image: url('/images/my_image.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #logo {
    background-image: url('/images/my_image@2x.png');
    background-size: 200px 100px;
  }
}*/



//font
@bliss_bold: verdana;
@bliss_light: myriad pro;

// Colors for my Website
@pink: #d80c8c;

//layer

body {
  background-color: #000;
  width: 100%;
}
a {
  &:hover {
    text-decoration: none;
  }
}
a:active, a:focus, img {
  outline: 0;
}
.top-header {
  width: 100%;
  height: 35px;
  background-color: #262626;
  position: absolute;
  *position: normal;
  top: 0;
  z-index: 2;
}
.top-icons {
  float: right;
  margin-top: 7px;
  .connect {
    margin: 0px 5px 0 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
    background: url(../images/vk.png) no-repeat top scroll;
    float: left;
    &:hover {
      background: url(../images/vk.png) no-repeat bottom scroll;
    }
    & ~ a {
      background: url(../images/fb.png) no-repeat top scroll;
      &:hover {
        background: url(../images/fb.png) no-repeat bottom scroll;
      }
    }
  }
  span {
    display: block;
    float: left;
    border: 1px solid #a7045f;
    background: #d70c8b url(../images/cart.png) no-repeat 6px top  scroll;
    height: 16px;
    a {
      color: #fff;
      text-transform: uppercase;
      font: 9px @bliss_bold;
      display: block;
      padding: 3px 6px 0 19px;
      line-height: 11px;
    }
    &:Hover {
      background: #d70c8b url(../images/cart.png) no-repeat 6px bottom  scroll;
    }
  }
}
.top-icons span:Hover a, .top-icons span a:hover {
  color: #000;
}
.middle {
  width: 985px;
  margin: 35px auto 280px;
  position: relative;
  z-index: 1;
}
.main_banner {
  position: absolute;
  top: -35px;
  left: -30px;
}
.content_part {
  padding-left: 10px;
  padding-top: 15px;
}
.custom_select {
  .caret {
    background: url(../images/select_arrow.png) no-repeat;
    border: none;
    width: 8px;
    height: 6px;
    margin-top: 3px;
    margin-right: -5px;
  }
  .btn-group {
    & > .btn {
      &:first-child {
        border-radius: 0;
      }
    }
    &.open {
      .btn-info {
        &.dropdown-toggle {
          background-color: #fff;
        }
      }
    }
  }
  .btn {
    padding-top: 6px;
    padding-bottom: 5px;
    background: #fff none;
    outline: none;
  }
}
.custom_select .btn-info,.custom_select .btn-info:hover,.custom_select .btn-info:active, .custom_select .btn-info.active,.custom_select .btn-info.disabled,.custom_select .btn-info[disabled] {
  background-color: #fff;
  color: @pink;
}
.custom_select .bootstrap-select, .custom_select select,.custom_select .bootstrap-select .btn {
  width: 150px;
}
.custom_select .btn-group > .btn,.custom_select .btn-group > .dropdown-menu,.custom_select .btn-group > .popover {
  font: 9px arial;
  text-shadow: none;
  box-shadow: none;
}
#search, #search input {
  margin-left: 5px;
}
input[type="text"].text {
  font: 9px arial;
  text-shadow: none;
  color: @pink;
  width: 128px;
  padding: 5px 5px 5px 15px;
  height: 13px;
  margin-bottom: 0;
}
#searchSubmit {
  font-size: 9px;
  background: #262626 url(../images/sbm_arrow.png) no-repeat 31px 9px;
  height: 25px;
  color: #fff;
  border: none;
  padding-left: 10px;
  padding-right: 21px;
}
#searchSubmit:hover, #searchSubmit:active {
  color: @pink;
  background: #262626 url(../images/sbm_arrow.png) no-repeat 31px -8px;
}
#menu {
  ul {
    margin-bottom: 0;
    li {
      a {
        font: 13.3px/30px @bliss_bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 0;
        padding-top: 2px;
        &:hover {
          background-color: inherit;
          *background-color: #000;
        }
      }
    }
  }
}
.touts {
  margin-top: 10px;
}
.tout {
  margin-right: 5px;
  width: 193px;
  height: 159px;
  border: 8px solid #9b0254;
  float: left;
  background-color: #3a3a3a;
  position: relative;
  & + div {
    & + div {
      & + div {
        margin-right: 0;
        width: 195px;
      }
    }
  }
  img {
    position: absolute;
    top: 0px;
  }
  p {
    position: absolute;
    color: #fff;
    font: 15.11px/17.78 @bliss_light;
    top: -113px;
    z-index: 3;
    width: 100%;
    text-align: center;
  }
  .btn_more {
    position: relative;
    top: 127px;
  }
  &:first-child {
    .btn_more {
      left: 52px;
    }
    & + * {
      img {
        top: 15px;
        left: 13px;
      }
      .btn_more {
        left: 52px;
      }
      p {
        text-align: left;
        left: 30px;
      }
      & + * {
        img {
          top: 0px;
        }
        .btn_more {
          left: 85px;
        }
        & + * {
          img {
            top: 0;
          }
          .btn_more {
            left: 8px;
          }
          p {
            left: -46px;
          }
        }
      }
    }
  }
}
.btn_more {
  border: 2px solid #4a4949;
  border-radius: 3px;
  background: #000 url(../images/sbm_arrow.png) no-repeat right 9px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 3px 11px 5px 12px;
  height: 16px;
  position:relative;
  &:hover {
    background: #000 url(../images/sbm_arrow.png) no-repeat right -8px;
  }
  a {
    font:bold 11.1px arial;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
  }
  em {
    background-color: #000;
    border: 2px solid #4a4949;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    display: block;
    width: 14px;
    white-space: nowrap;
    position: absolute;
    right: -15px;
    top: -2px;
    height: 24px;
    z-index: 0;
  }
}
.btn_more a:hover, .btn_more:hover a {
  color: #d80c8c;
}
#menu_footer {
  ul {
    margin-bottom: 0;
    margin-top: 25px;
    li {
      a {
        font: 9px/9px arial;
        color: #fff;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 0;
        padding-top: 0px;
        &:hover {
          color: #d80c8c;
          background-color: inherit;
          *background-color: #000;
        }
      }
    }
  }
}

/********************INNER PAGE GENERAL STYLES********************/
.smallfont {
  font: 10px @bliss_light;
}


.MainContent {
  background-color: #fff;
  padding-bottom: 150px;

  .breadcrumb {
    margin-left: 285px;
    a {
      .smallfont;
      color: @pink;
     }
    .divider,.active {
      .smallfont;
      padding: 0;
    }
  }
}



.promo {
  background: #ccc url(../images/promo_bg.png) no-repeat ;
  height: 261px;
  width: 828px;
  margin: 0 13px;
  position: relative;
  margin-bottom: 44px;
  h1,  img  {
    position: absolute;
  }
}

.h1 (@size:43px, @family:@bliss_light) {
font:@arguments;
  color:#ff05a4;
  line-height: @size ;
  text-shadow: 2px 1px 2px #a5a3a3;
}

h1 {
  .h1;
  span {
    display: block;
  }
}

.row-fluid .span8.contentplace {
  width: 576px;
  padding-right: 35px;
  margin-left: 0;

}

.leftsidebar {
padding-left: 40px;
  padding-top: 8px;
}

.sideblock {
  width: 163px;
}

h5 {
  color: #ed008c;
  line-height: 16.89px;
  font: 24px @bliss_light;
  text-transform: uppercase;
}
h3 {
  color: #ed008c;
  line-height: 17.7px;
  font: 24px @bliss_light;
  text-transform: uppercase;
  margin-bottom: 5px
}

h4 {
  color: #ed008c;
  line-height: 12.5px;
  font: 17.7px @bliss_light;
  margin-bottom: 5px
}


p {
  font: 11px arial;
  line-height: 15px;
  color: #000;
}

.bs-docs-separator {
  margin: 25px 0 39px;
}
hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
.link_more {
  font: bold 12px arial;
  color: @pink;
  text-transform: uppercase;
}

.link_more:hover {
  color:#000;
}


.btn_more.pink {
background: #d80c8c;
border-radius: 0;
border: 1px solid #f7cee8;
}

.btn_more.pink a:hover, .btn_more.pink:hover a  {
  color:#000;
}

.contentTable td {
  vertical-align: top;
  padding-bottom: 45px;
}


/*about us*/


#aboutUs {
      h1 {
        .h1(76px);
        text-transform: uppercase;
        top: 54px;
        left: 37px;
        span {
          font-weight: bold;
        }
      }
img {
  right: -15px;
  bottom: -40px;
}


}

#aboutUs .breadcrumb {
  margin-bottom:5px;
  background-color: #fff;
}







