@import url(fonts/fonts.css);
html,
body {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
	height: 100%;
}
html * {
	margin: 0;
	font-size: 14px;
	outline: none;
	cursor: default;
	letter-spacing: 0px;
	list-style: none;
	color: #000;
	font-family: 'Noto Sans', Helvetica;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.bold{
	font-weight: 700;
}
.sitewrap{
	width: 940px;
	margin: auto;
	min-height: 100%;
	padding: 0 0 81px 0;
}
.wrap{
	position: relative;
	width: 940px;
	margin: 0 auto;
}
.logo{
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	width: 220px;
}
.header .title{
	line-height: 11px;
	margin-top: 33px;
	font-size: 14px;
	color: #000;
	margin-bottom: 12px;
	display: block;
	letter-spacing: .2px;
}
.contacts{
	display: inline-block; 
	vertical-align: top;
	margin-right: -4px;
	width: 400px;
	margin-left: 20px;
	padding-left: 10px;
}
.contacts .adr{
	font-size: 12px;
	letter-spacing: -0.5px;
	color: #000;
	margin-bottom: 7px;
	padding-left: 18px;
	background: url(../images/mini-icons.png) 0px 0px no-repeat;
}
.contacts .ph{
	font-size: 12px;
	letter-spacing: -0.5px;
	color: #000;
	margin-bottom: 7px;
	padding-left: 18px;
	background: url(../images/mini-icons.png) 0px -22px no-repeat;
}
.contacts .msg{
	letter-spacing: -0.5px;
	font-size: 12px;
	color: #000;
	padding-left: 18px;
	background: url(../images/mini-icons.png) 0px -43px no-repeat;
}

.expert-info{
	display: inline-block; 
	vertical-align: top;
	margin-right: -4px;
	width: 300px;
	padding-left: 70px;
	background: url(../images/flag.png) 9px 32px no-repeat;
}
.expert-info ul{
	list-style: none;
	margin: 0px;
	width: 240px;
	padding: 0px;
}
.expert-info li{
	font-size: 12px;
	line-height: 13px;
	margin-bottom: 8px;
	letter-spacing: -0.5px;
}
.expert-info li:before{
	content: "";
	background: #5a89a9;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}
.header{
	height: 154px;
}
.main-content .nav:after{
	content: "";
	height: 10px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: -10px;
	left: 0;
	background: url(../images/nav-b.png) 0px 0px no-repeat;
}
.main-content .nav{
	background: #276b9a;
	position: relative;
	width: 220px;
	margin-right: -4px;
	display: inline-block;
	vertical-align: top;
}
.main-content .nav>div:first-child a{
	background: none;
}
.main-content .nav>div{
	position: relative;
}
.main-content .nav>div a{
	background: url(../images/nav-line.png) 0px 0px no-repeat;
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	text-shadow: 1px 1px 1px #1d5988;
	line-height: 47px;
	padding-left: 29px;
}
.main-content .nav>div a.active:after{
	content: "";
	display: block;
	height: 5px;
	bottom: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	background: #175a87
}
.main-content .nav>div a.active{
	background: white;
	line-height: 43px;
	color: #175a87;
	border-top: 1px solid #3d7aa4;
	text-shadow: none;
	position: relative;
	height: 49px;
	border-bottom: 1px solid #6898b4;
}
.section:after{
	content: "";
	height: 10px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: -10px;
	left: 0;
	background: url(../images/section-shadow.png) 0px 0px no-repeat;
}
.section.not-left{
	width: 714px;
}
.section{
	position: relative;
	display: inline-block;
	vertical-align: top;
	background: white;
	width: 470px;
	margin-left: 10px;
	margin-right: -4px;
	padding: 20px 22px 10px 22px;
	border: 1px solid #f3f3f3;
	border-bottom: 0px;
}
.section h1{
	font-size: 18px;
	line-height: 15px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.section h2{
	line-height: 21px;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.section p{
	font-size: 14px;
	line-height: 20px;
}
.section ul{
	padding: 0;
	margin:  16px 0px  0px  12px;
}
.section li{
	padding: 0;
	margin: 0px;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 10px;
}
.section li:before{
	content: "";
	background: #175a87;
	margin-left: -12px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}
.section  .gendir{
	color: #175a87;
	text-align: right;
	position: relative;
	margin-top: 17px;
	margin-bottom: 1px;
	margin-bottom: 18px;
	left: 11px;
	letter-spacing: 0.1px;
}

.lk{
	background: white;
	display: inline-block;
	width: 230px;
	margin-left: 10px;
	vertical-align: top;
	border-left: 1px solid #ffffff;
	border-top: 1px solid transparent;
	padding-bottom: 2px;
	position: relative;
}
.lk:after{
	content: "";
	height: 10px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: -10px;
	left: 0;
	background: url(../images/right-nav-shadow.png) 0px -1px no-repeat;
}
.lk .lk-header{
	background: #276b9a;
}
.lk .lk-img{
	color: white;
	padding-left: 58px;
	line-height: 60px;
	text-shadow: 1px 1px 1px #1d5988;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	text-transform: uppercase;
	background-position: 10px;
	background-repeat: no-repeat;
}
.lk p{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	margin-top: 22px;
	letter-spacing: -0.1px;
	line-height: 18px;
	margin-bottom: 19px;
}
.lk ul{
	padding: 0;
	margin:  16px 12px  16px  22px;
}
.lk li{
	padding: 0;
	margin: 0px;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: -0.1px;
	margin-bottom: 10px;
}
.lk li:before{
	content: "";
	background: #175a87;
	margin-left: -12px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}
.lk .b-w:after{
	content: "";
	height: 10px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: 5px;
	left: 0;
	background: url(../images/botton-border.png) 0px 0px no-repeat;
}
.lk .b-w{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	position: relative;
}
.lk .r-b{
	text-shadow: 1px 1px 1px #d21717;
	text-transform: uppercase;
	font-size: 17px;
	text-align: center;
	background: #e43737;
	color: white;
	display: block;
	line-height: 42px;
	height: 45px;
	border-bottom: 6px solid #d72822
}
.lk .b-b{
	text-shadow: 1px 1px 1px #1d5988;
	text-transform: uppercase;
	font-size: 17px;
	color: white;
	text-align: center;
	background: #276b9a;
	display: block;
	line-height: 42px;
	height: 45px;
	border-bottom: 6px solid #175a87
}

.footer{
	height: 81px;
	padding-top: 24px;
	margin: -81px auto 0 auto; 
	width: 940px;
}
.footer .logo-mini{
	display: inline-block;
	vertical-align: top;
	margin-top: -15px;
	margin-right: 87px;
}
.footer .logo-mini img{}
.footer .copyright{
	width: 160px;
	margin-right: 16px;
	display: inline-block;
	vertical-align: top;
	color: #175a87;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: -0.8px;
	line-height: 15px;
}
.footer .adress{
	width: 285px;
	padding-right: 40px;
	padding-left: 28px;
	display: inline-block;
	vertical-align: top;
	background: url(../images/map-point.png) 0px 0px no-repeat;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: -0.4px;
	line-height: 15px;
	color: #175a87;
}
.footer .phones span{
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	margin-right: 6px;
	letter-spacing: -0.1px;
	line-height: 15px;
	color: #175a87;
}
.footer .phones{
	line-height: 15px;
	width: 240px;
	display: inline-block;
	padding-left: 25px;
	background: url(../images/phones.png) 0px 5px no-repeat;
	vertical-align: top;
}
body .sitewrap a:hover{
	opacity: .7;
}
body .sitewrap .logo:hover, body .sitewrap .logo-mini:hover, body .sitewrap .active:hover{
	opacity: 1
}
body .sitewrap img,  body .sitewrap a{
	outline: none;
	cursor: pointer;
	border: 0;
}


/* 16.10.2014
===============================================================*/
.clr{
	clear: both;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* personal  area main
========================================*/
.lk-nav{
	background: #276b9a;
	position: relative;
	width: 220px;
	margin-right: -4px;
	display: inline-block;
	vertical-align: top;
	padding: 0;
}

.lk-nav>li:first-child a{
	background: none;
}

.lk-nav li{
	position: relative;
}

.lk-nav a{
	background: url(../images/nav-line.png) 0px 0px no-repeat;
	display: block;
	font-size: 13px;
	text-transform: uppercase;
	color: white;
	padding: 10px ;
	text-align: center;
	text-shadow: 1px 1px 1px #1d5988;
	line-height: 22px;
}

.lk-nav a.active:after{
	content: "";
	display: block;
	height: 5px;
	bottom: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	background: #175a87
}

.lk-nav a.active{
	background: white; 
	color: #175a87;
	text-shadow: none;
}

/* main section
=================================*/ 
.objects{
	margin: 20px 0;
	width: 100%;
	border-collapse: collapse;
}

.objects li{
	padding:  5px 0;
	list-style: decimal;
	margin: 0;
}

.objects li:before {
	content: none;
	background: none;
	margin: 0;
	width: 0;
	height: 0; 
}

.objects li:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.objects li:hover{
	background: #f2f2f2;
}

.objects .btn{
	float: right;
}

/* personal area
================================*/
.personal-area{
	width: 300px;
	margin: 30px auto;
	background: #fff;
	padding: 20px;
}

.area-title{
	margin: 0 0 20px 0;
	text-align: center;
	font: bold 20px Arial;
}

.pa-form label{
	display: block;
	float: left;
	font: 15px Arial;
	padding: 3px 0 0 0;
	width: 80px;
	clear: both;
}

.pa-form input{
	display: block;
	padding: 3px 5px;
	width: 180px;
	margin: 0 0 15px 0;
}

.btn{
	cursor: pointer;
	border: none;
	color: #fff;
	background: #276B9A;
	padding: 0 15px;
	height: 30px;
}

a.btn{
	padding: 6px 15px;
}

.btn:hover{
	background: #125481;
}

.pa-button{
	margin: 0 15px 0 0;
}

.pa-form a{
	color: #276B9A;
}

/* registration-area
==============================================*/
.registration-area{
	width: 940px;
	padding: 20px;
	background: #fff;
	margin: 0 auto;
}

.ra-form label{
	display: block;
	float: left;
	font: 15px Arial;
	padding: 3px 0 0 0;
	width: 150px; 
}

.ra-form .label-mini{
	width: 100px;
	padding: 3px 0 0 10px;
}

.ra-form input{
	display: block;
	padding: 3px 5px;
	width: 180px;
	margin: 0 0 15px 0;
	float: left;
}

.input-group label{
	clear: both;
}

.input-group input{
	float: none;
}

.input-group-wide:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ra-info{
	margin: 5px 0 20px 0 ;
}

.ra-button{
	margin: 20px auto 0 auto;
	display: block;
}

/* make breadcrumbs
=====================================*/
.breads{
 	margin: 0 0 25px 0 !important;
}

.breads li{
	display: inline-block;
	list-style: none;
	margin: 0 20px 0 0;
}

.breads a{
	padding: 4px 10px;
	display: block;
	background: #125481;
	color: #fff;
}

.breads li:before{
	background: none;
	content: none;
}

.breads .active a{
	background: #999;
	cursor: default;
}

/* statement
=======================================*/
.statement{
	line-height: 22px;
}

.statement input{
	border: none;
	border-bottom: 1px solid #999;
	font-weight: bold;
}

.zaiavka{
	width: 100%;
	border-collapse: collapse;
}

.zaiavka  td{
	width: 50%;
	padding: 5px;
	border: 1px solid #ddd;
	vertical-align: top;
}

.zaiavka input{
	display: block;
	width: 90%;
}

.zaiavka .input-inline{
	width: 40%;
	display: inline-block;
}

.width100{
	display: block;
	width: 100%;
	margin: 0 0 35px 0;
}

.right{
	float: right;
	text-align: right;
}

.statement .btn{
	display: block;
	margin: 20px auto;
}

/* dogovor
================================*/
.down-line{
	margin: 10px 0;
}

.down-line:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.down-line .btn{
	float: right;
	margin: 0 200px 0 0;
}

/* calculator
=============================================*/
.big-btn{
	display: block;
	width: 250px;
	height: 80px;
	text-align: center;
	margin: 20px 20px 20px 0;
	float: left;
}

/* calc 1.1
===============================*/
.file-group{
	margin: 0 0 20px 0;
}

.file-group:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.file-group label{
	width: 350px;
	float: left;
	margin: 0 25px 0 0;
}

.file-group input[type=file]{
    font-size: 12px;
    float: right;
}

.upload-block .btn{
	float: right;
	margin: 0 15px 10px 0;
}

/*
=================================*/
.comment{
	margin: 20px 20px 20px 0;
	width: 450px;
	float: left;
	font-size: 13px;
	line-height: 20px;
}

.price-final{
	float: right;
	font-size: 18px;
	margin: 20px 30px 0;
}

.make-st{
	display: block;
	float: right;
	margin: 20px 0 20px 0 ;
}

/* calc 2
==================================*/
.input-group2{
	margin: 10px 0 20px 0;
}

.input-group2:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.input-group2 label{
	width: 180px;
	float: left;
	font-size: 13px;
}

.input-group2 input{
	padding: 3px 5px; 
}

.input-group2 input[type="radio"]{
	margin: 0 5px 5px 0;
	display: block;
	float: left;
}

.label{
	float: left;
	width: 120px;
}

.make-calc{
	float: left;
	margin: 0 0 20px 0;
}

.price-calc{
	float: right;
	padding: 5px 0 0 0;
}

/* results
==============================*/
.section.full{
	width: 940px;
	margin: 0;
}

.result-table{
	border-collapse: collapse;
}

.result-table td{
	padding: 3px;
	border: 1px solid #f2f2f2;
}

.result-table thead{
	font-weight: bold;
}

.result-table thead td{
	text-align: center;
}

.ups{
	width: 70px;
	font-size: 11px;
}

.result-table td{
	font-size: 12px;
}

.result-table tbody td:first-child{
	vertical-align: top;
}

.result-table label {
	display: block;
	overflow:hidden;
	width: 62px;
	height: 24px;
	cursor:pointer;  
	color: #fff;
	font-size: 11px;
	padding: 6px 0 6px 3px;
	display: block;
	background: #125481;
	text-align: center;
	margin: 0 auto;
}

.result-table input[type="file"] {
	opacity:0;
	filter:alpha(opacity:0);
	font-size:199px;
	cursor:pointer;
	padding:0px;
	border:none;
	cursor: pointer;
	margin: -20px 0 0 0;
}

.result-table .btn{
	font-size: 11px;
	display: block;
	margin: 0 auto;
	padding: 6px 10px;
	height: 24px;
	width: 62px;
}

.result-table img{
	display: block;
	margin: 0 auto;
	cursor: default !important;
}

.table-save{
	display: block;
	margin: 20px auto;
}