.ui-corner-all .wrap_sl {
	background-color:#FFFFFF;
	height:7px;
	padding-top:1px;
	background:url("images/slidbg.png") repeat-x scroll 0 4px transparent;
}
.ui-corner-all {
	padding:0px; 
	color: #000; 
	font-size: 10px; 
	font-family: arial;
}
.slider_list{
	background-color: #f1f1f1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-top:9px;
	padding-left:9px;
	padding-bottom:9px;
	padding-right:9px;
}
.ui-corner-all .viewer { width:279px; margin:0 auto; padding:0px; overflow:hidden; position:relative; }
.ui-corner-all .content-conveyor { width:279px; position:relative; height:64px; overflow:hidden;}
.ui-corner-all .item { float:left; font-family:Tahoma;}
.ui-corner-all .item dl { margin:5px 0; }
.ui-corner-all .item img { border:1px solid #bababa; height:60px; width:62px;}
.ui-corner-all .item a.active img { border:2px solid #f26922;}
.ui-corner-all .ui-corner-all  {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.ui-corner-all .ui-slider-horizontal{
	height:10px;
	position: relative;
	width:241px;
	padding: 0px;
}
.ui-corner-all .ui-slider-horizontal .ui-slider-handle{
	background:url("images/slide_hand.png") no-repeat scroll 0 0 transparent;
	border: 0px solid #fff;
	height: 13px;
	top: 1px;
	cursor: pointer;
	width: 40px;
}
.ui-corner-all .item {
	width:70px;
	text-align: center;
}
.ui-corner-all .item.last {
}
.ui-corner-all .item .block_ugls{
	margin-bottom:0;
	width:180px;
	line-height: 24px;
}
.ui-corner-all .item .block_ugls .text_wr{
	line-height: 24px;
}
a.ui-slider-handle{
	display:inline-block;
	position:absolute;
}