@import url(fonts/fonts.css);
html,
body {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
}
html * {
	margin: 0;
	font-size: 14px;
	outline: none;
	cursor: default;
	letter-spacing: 0px;
	list-style: none;
	color: #000;
	font-family: 'Noto Sans', Helvetica;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.bold{
	font-weight: 700;
}
.sitewrap{
	width: 940px;
	margin: auto;
}
.logo{
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	width: 220px;
}
.header .title{
	line-height: 11px;
	margin-top: 33px;
	font-size: 14px;
	color: #000;
	margin-bottom: 12px;
	display: block;
	letter-spacing: .2px;
}
.contacts{
	display: inline-block; 
	vertical-align: top;
	margin-right: -4px;
	width: 400px;
	margin-left: 20px;
	padding-left: 10px;
}
.contacts .adr{
	font-size: 12px;
	letter-spacing: -0.5px;
	color: #000;
	margin-bottom: 7px;
	padding-left: 18px;
	background: url(../images/mini-icons.png) 0px 0px no-repeat;
}
.contacts .ph{
	font-size: 12px;
	letter-spacing: -0.5px;
	color: #000;
	margin-bottom: 7px;
	padding-left: 18px;
	background: url(../images/mini-icons.png) 0px -22px no-repeat;
}
.contacts .msg{
	letter-spacing: -0.5px;
	font-size: 12px;
	color: #000;
	padding-left: 18px;
	background: url(../images/mini-icons.png) 0px -43px no-repeat;
}

.expert-info{
	display: inline-block; 
	vertical-align: top;
	margin-right: -4px;
	width: 300px;
	padding-left: 70px;
	background: url(../images/flag.png) 9px 32px no-repeat;
}
.expert-info ul{
	list-style: none;
	margin: 0px;
	width: 240px;
	padding: 0px;
}
.expert-info li{
	font-size: 12px;
	line-height: 13px;
	margin-bottom: 8px;
	letter-spacing: -0.5px;
}
.expert-info li:before{
	content: "";
	background: #5a89a9;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}
.header{
	height: 154px;
}
.main-content .nav:after{
	content: "";
	height: 10px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: -10px;
	left: 0;
	background: url(../images/nav-b.png) 0px 0px no-repeat;
}
.main-content .nav{
	background: #276b9a;
	position: relative;
	width: 220px;
	margin-right: -4px;
	display: inline-block;
	vertical-align: top;
}
.main-content .nav>div:first-child a{
	background: none;
}
.main-content .nav>div{
	position: relative;
}
.main-content .nav>div a{
	background: url(../images/nav-line.png) 0px 0px no-repeat;
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	text-shadow: 1px 1px 1px #1d5988;
	line-height: 45px;
	padding-left: 29px;
    padding-top: 2px;
}
.main-content .nav>div a.active:after{
	content: "";
	display: block;
	height: 5px;
	bottom: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	background: #175a87
}
.main-content .nav>div a.active{
	background: white;
	line-height: 43px;
	color: #175a87;
	/*border-top: 1px solid #3d7aa4;*/
	text-shadow: none;
	position: relative;
	height: 49px;
	border-bottom: 1px solid #6898b4;
}
.section:after{
	content: "";
	height: 10px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: -10px;
	left: 0;
	background: url(../images/section-shadow.png) 0px 0px no-repeat;
}
.section.not-left{
	width: 714px;
}
.section{
	position: relative;
	display: inline-block;
	vertical-align: top;
	background: white;
	width: 470px;
	margin-left: 10px;
	margin-right: -4px;
	padding: 20px 22px 10px 22px;
	border: 1px solid #f3f3f3;
	border-bottom: 0px;
}
.section h1{
	font-size: 18px;
	line-height: 15px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.section h2{
	line-height: 21px;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.section p{
	font-size: 14px;
	line-height: 20px;
}
.section ul{
	padding: 0;
	margin:  16px 0px  0px  12px;
}
.section li{
	padding: 0;
	margin: 0px;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 10px;
}
.section li:before{
	content: "";
	background: #175a87;
	margin-left: -12px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}
.section  .gendir{
	color: #175a87;
	text-align: right;
	position: relative;
	margin-top: 17px;
	margin-bottom: 1px;
	margin-bottom: 18px;
	left: 11px;
	letter-spacing: 0.1px;
}

.lk{
	background: white;
	display: inline-block;
	width: 230px;
	margin-left: 10px;
	vertical-align: top;
	border-left: 1px solid #ffffff;
	border-top: 1px solid transparent;
	padding-bottom: 2px;
	position: relative;
}
.lk:after{
	content: "";
	height: 10px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: -10px;
	left: 0;
	background: url(../images/right-nav-shadow.png) 0px -1px no-repeat;
}
.lk .lk-header{
	background: #276b9a;
}
.lk .lk-img{
	color: white;
	padding-left: 58px;
	line-height: 60px;
	text-shadow: 1px 1px 1px #1d5988;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	text-transform: uppercase;
	background-position: 10px;
	background-repeat: no-repeat;
}
.lk p{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	margin-top: 22px;
	letter-spacing: -0.1px;
	line-height: 18px;
	margin-bottom: 19px;
}
.lk ul{
	padding: 0;
	margin:  16px 12px  16px  22px;
}
.lk li{
	padding: 0;
	margin: 0px;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: -0.1px;
	margin-bottom: 10px;
}
.lk li:before{
	content: "";
	background: #175a87;
	margin-left: -12px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}
.lk .b-w:after{
	content: "";
	height: 10px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: 5px;
	left: 0;
	background: url(../images/botton-border.png) 0px 0px no-repeat;
}
.lk .b-w{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	position: relative;
}
.lk .r-b{
	text-shadow: 1px 1px 1px #d21717;
	text-transform: uppercase;
	font-size: 17px;
	text-align: center;
	background: #e43737;
	color: white;
	display: block;
	line-height: 42px;
	height: 45px;
	border-bottom: 6px solid #d72822
}
.lk .b-b{
	text-shadow: 1px 1px 1px #1d5988;
	text-transform: uppercase;
	font-size: 17px;
	color: white;
	text-align: center;
	background: #276b9a;
	display: block;
	line-height: 42px;
	height: 45px;
	border-bottom: 6px solid #175a87
}

.footer{
	height: 81px;
	padding-top: 24px;
}
.footer .logo-mini{
	display: inline-block;
	vertical-align: top;
	margin-top: -15px;
	margin-right: 87px;
}
.footer .logo-mini img{}
.footer .copyright{
	width: 160px;
	margin-right: 16px;
	display: inline-block;
	vertical-align: top;
	color: #175a87;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: -0.8px;
	line-height: 15px;
}
.footer .adress{
	width: 285px;
	padding-right: 40px;
	padding-left: 28px;
	display: inline-block;
	vertical-align: top;
	background: url(../images/map-point.png) 0px 0px no-repeat;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: -0.4px;
	line-height: 15px;
	color: #175a87;
}
.footer .phones span{
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	margin-right: 6px;
	letter-spacing: -0.1px;
	line-height: 15px;
	color: #175a87;
}
.footer .phones{
	line-height: 15px;
	width: 240px;
	display: inline-block;
	padding-left: 25px;
	background: url(../images/phones.png) 0px 5px no-repeat;
	vertical-align: top;
}
body .sitewrap a:hover{
	opacity: .7;
}
body .sitewrap .logo:hover, body .sitewrap .logo-mini:hover, body .sitewrap .active:hover{
	opacity: 1
}
body .sitewrap img,  body .sitewrap a{
	outline: none;
	cursor: pointer;
	border: 0;
}